﻿@model IDictionary

@{
  var languages = ViewBag.Languages as string[];
  var select = new[] {
    new SelectListItem { Value = "true", Text = Resource._Available },
    new SelectListItem { Value = "false", Text = Resource._NonAvailable }
  };
  if (Model!= null)
  {
    select[0].Selected = Model.ChooseExerciseAvailable;
    select[1].Selected = !Model.ChooseExerciseAvailable;
  }
}

<div class="dic-editor">
  <div>
    @Html.LabelFor(x => x.Name, Resource._Name)
    @Html.TextBoxFor(x => x.Name, new { @class = "de-name", autocomplete = "off" })
  </div>

  <div style="display: table; margin: 10px auto;">
    <div style="display: table-row">
      <div style="display: table-cell; text-align: left; padding-bottom: 10px;">
        @Html.LabelFor(x => x.WordLanguage, Resource.eWordLanguage)
      </div>
      <div style="display: table-cell; padding-bottom: 10px;">
        @Html.TextBoxFor(x => x.WordLanguage, new { list = "languages", maxlength = "2" })
      </div>
    </div>
    <div style="display: table-row;">
      <div style="display: table-cell; text-align: left; ">
        @Html.LabelFor(x => x.TranslationLanguage, Resource.eTranslationLanguage)
      </div>
      <div style="display: table-cell; ">
        @Html.TextBoxFor(x => x.TranslationLanguage, new { list = "languages", maxlength = "2" })
      </div>
    </div>
  </div>

  <div>
    @Html.LabelFor(x => x.ChooseExerciseAvailable, Resource.eChooseTrainingAvailable)
    @Html.DropDownListFor(x => x.ChooseExerciseAvailable, select)
  </div>

  <datalist id="languages">
    @foreach (var l in languages)
    {
      <option value="@l" />
    }
  </datalist>
</div>
