﻿@model DictionaryAddVM
@{
  ViewBag.Title = Resource.eAddDictionary;
}

@{ViewBag.Type = "addDictionary";}
@Html.Partial("_DicNav")

<div class="form-width-limit">
  <h1>@ViewBag.Title</h1>
  @if (ViewBag.Added != null)
  {
    <div>@Resource.eWordsAdded: @ViewBag.Added</div>
  }

  @Html.ValidationSummary(true)

  @using (Html.BeginForm("Add", "Dictionaries", FormMethod.Post))
  {
    @Html.Partial("_EditorPartial")    
    
      <textarea id="cards-content" class="editor-box" name="cardsContent" placeholder="@Html.Raw(Resource.eAddWordsFormat)"></textarea>

    <input type="submit" value="@Resource._Add" class="but">
  }
</div>