﻿@model IEnumerable<DictionaryBase>
@{
  ViewBag.Title = @Resource.eAllDictionaries;
}

@if (User.IsInRole("moderator"))
{
  ViewBag.Type = "list";
  @Html.Partial("_DicNav")
}

<h1>@ViewBag.Title</h1>


<div class="x-scroll">
  <table class="solid-table high-row">
    <tr><th>@Resource._Dictionary</th><th>@Resource.eNumberOfWords</th></tr>
    @foreach (var dic in Model)
    {
      <tr>
        <td class="align-left">@Html.ActionLink(dic.Name, "View", new { id = dic.Id }, new { @class = "big cyan" })</td>
        <td>@dic.Total</td>
      </tr>
    }
  </table>
</div>