﻿@model DictionaryVM

@{
  ViewBag.Title = Resource._Dictionary + " " + Model.Dictionary.Name;
  var rv = Model.RouteValues;
  ViewBag.Languages = Model.Languages;
}

@if (User.IsInRole("moderator"))
{
  ViewBag.Type = "view";
  @Html.Partial("_DicNav")
}



<h1>
  @Resource._Dictionary <span>@Model.Dictionary.Name</span>

  @if (User.IsInRole("moderator"))
  {
    <svg class="svg-edit" width="16" height="16" viewBox="0 0 1024 1024">
      <path d="M864 0c88.364 0 160 71.634 160 160 0 36.020-11.91 69.258-32 96l-64 64-224-224 64-64c26.742-20.090 59.978-32 96-32zM64 736l-64 288 288-64 592-592-224-224-592 592zM715.578 363.578l-448 448-55.156-55.156 448-448 55.156 55.156z" />
    </svg>

    <svg class="svg-cancel hidden" width="16" height="16" viewBox="0 0 40 40">
      <path d="M20,0C8.954,0,0,8.954,0,20c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20C40,8.954,31.046,0,20,0z M4,20			c0-8.822,7.178-16,16-16c3.691,0,7.085,1.269,9.795,3.377L7.377,29.795C5.269,27.085,4,23.691,4,20z M20,36			c-3.691,0-7.085-1.269-9.795-3.377l22.419-22.419C34.731,12.915,36,16.309,36,20C36,28.823,28.823,36,20,36z" />
    </svg>

    if (User.IsInRole("admin"))
    {
      <span id="dic-delete"
            data-confirmation="@Resource.eDeleteDicConfirmation"
            data-dic-id="@Model.Dictionary.Id"
            style="cursor:pointer;">

        <svg width="16" height="16" viewBox="0 0 512 512">
          <polygon points="353.574,176.526 313.496,175.056 304.807,412.34 344.885,413.804 			" />
          <rect x="235.948" y="175.791" width="40.104" height="237.285" />
          <polygon points="207.186,412.334 198.497,175.049 158.419,176.52 167.109,413.804 			" />
          <path d="M17.379,76.867v40.104h41.789L92.32,493.706C93.229,504.059,101.899,512,112.292,512h286.74 c10.394,0,19.07-7.947,19.972-18.301l33.153-376.728h42.464V76.867H17.379z M380.665,471.896H130.654L99.426,116.971h312.474 L380.665,471.896z" />
          <path d="M321.504,0H190.496c-18.428,0-33.42,14.992-33.42,33.42v63.499h40.104V40.104h117.64v56.815h40.104V33.42 C354.924,14.992,339.932,0,321.504,0z" />
        </svg>
      </span>
    }
  }
</h1>

@if (User.IsInRole("moderator"))
{
  <form class="hidden form-dic-editor">
    @Html.Hidden("Id", Model.Dictionary.Id)

    @Html.Partial("_EditorPartial", Model.Dictionary)

    <button onclick="EditDictionary(event);">@Resource._Save</button>
  </form>
}

@if (ViewBag.Added != null)
{
  <p class="green">@Resource.eWordsAdded: @ViewBag.Added</p>
}

<div class="margin-10">
  <span>@Model.TotalCards @Resource.eCards_gen </span>
  @if (User.Identity.IsAuthenticated)
  {
    <a href="#" class="rounded-link" onclick="StudyDictionary(@Model.Dictionary.Id);">@Resource.eStudyNow</a>

    @Html.ActionLink(Resource.eSelectCardsForStudying, "dictionary", "user", new { id = (ViewBag.CurDicStat as DicStat).UserId, dicId = Model.Dictionary.Id, isDirect = true }, new { @class = "rounded-link" })
  }
  else
  {
    @Html.ActionLink(Resource.hTryOut, "main", "Study", new { @try = Model.Dictionary.Id }, new { @class = "rounded-link" })
  }
</div>

@if (User.IsInRole("moderator"))
{
  <div class="search-container">
    <input class="search-cards text-input" placeholder="@Resource._Search..." onkeyup="SearchCards(event);" data-dic-id="@Model.Dictionary.Id" />
    <svg class="but-search" viewBox="0 0 410.23 410.23" onclick="SearchCards('search')">
      <path d="M401.625,364.092l-107.1-107.1c19.125-26.775,30.6-59.288,30.6-93.713c0-89.888-72.675-162.562-162.562-162.562		S0,73.392,0,163.279s72.675,162.562,162.562,162.562c34.425,0,66.938-11.475,93.713-30.6l107.1,107.1		c9.562,9.562,26.775,9.562,38.25,0l0,0C413.1,390.867,413.1,375.566,401.625,364.092z M162.562,287.592		c-68.85,0-124.312-55.463-124.312-124.312c0-68.85,55.462-124.312,124.312-124.312c68.85,0,124.312,55.462,124.312,124.312		C286.875,232.129,231.412,287.592,162.562,287.592z" />
    </svg>
  </div>
}

@Html.PageLinks(Model.PageInfo, "View", rv)

<div class="x-scroll">
  <table id="table-dic-words" class='solid-table'>
    <tr>
      <th>
        @Html.ActionLink(Resource._NumberSign + rv.OrderSign(1), "View", "Dictionaries", rv.Clone(1),
          rv.Clone(1))
      </th>
      <th>
        @Html.ActionLink(Resource._Word + rv.OrderSign(2), "View", "Dictionaries", rv.Clone(2),
          rv.Clone(2))
      </th>
      <th>
        @Html.ActionLink(Resource._Translation + rv.OrderSign(3), "View", "Dictionaries", rv.Clone(3),
          rv.Clone(3))
      </th>
    </tr>
    @{int count = Model.PageInfo.SkippedItems;}
    @foreach (var card in Model.Dictionary.Cards)
    {
      <tr>
        <td>
          @Html.ActionLink((++count).ToString(), User.IsInRole("moderator") ? "Edit" : "View", "Cards", new { Id = card.Id }, null)
        </td>
        <td>
          @card.Word
          @if (card.Transcription != null)
          {<text>@card.Transcription</text>}
        </td>
        <td>
          @card.Translation
        </td>
      </tr>
    }
  </table>
</div>
@Html.PageLinks(Model.PageInfo, "View", rv)

