﻿/*General styles*/

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html, body {
  height: 100%;
}

body, table, select, input {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.25;
}

body {
  text-align: center;
  background-color: #f5f5f5;
}

body, input, textarea {
  font-family: 'Arial', sans-serif;
}

.body-content {
  min-height: calc(100% - 64px);
  min-width: 250px;
  padding: 1px 8px 8px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 0 25px rgba(0,0,0,.04);
}

.body-content, .header, #mob-menu {
  max-width: 960px;
  margin: 0 auto;
}

::placeholder {
  color: #c9c9c9;
}

.width-limit-small {
  max-width: 570px;
  margin: 0 auto;
}

.form-width-limit {
  max-width: 650px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
}

tr {
  padding: 15px 0;
}

th {
  color: #202020;
  background-color: #e8e8eb;
  min-height: 40px;
}

.x-scroll {
  overflow-x: auto;
  margin: 6px 0;
}

.solid-table {
  margin: 4px auto 10px;
  max-width: 800px;
  min-width: 70%;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.16);
}

  .solid-table, .solid-table tr:first-child {
    border: 1px solid #e8e8eb;
  }

    .solid-table td, .solid-table th {
      padding: 3px 6px;
    }

    .solid-table tr:nth-child(odd) {
      background-color: #f3f3f6;
    }


a {
  color: #0000b1;
  text-decoration: none;
}

  a:hover {
    color: darkred;
    text-decoration: underline;
  }

table a {
  color: #000090;
}

input,
textarea,
button,
select,
a {
  /*remove blue color when button pressed in chrome*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::-moz-focus-inner {
  border: 0; /*remove button's border in mozila when pressed*/
}

button:-moz-focusring,
input[type=button]:-moz-focusring {
  color: transparent; /*remove grey text in mozila when pressed*/
  text-shadow: 0 0 0 #000;
}

.rounded-link {
  display: inline-block;
  background-color: #fcffff;
  font-size: 1.04em;
  font-weight: bold;
  border: 1px solid #73c4d7;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 5px 4px;
}

  .rounded-link:hover {
    color: white;
    background-color: #73c4d7;
    text-decoration: none;
  }


h1, h2, h3, h4, h5, h6, .cyan, .rounded-link, #slogan {
  color: #047089;
}

h1 {
  font-size: 1.3em;
  margin-top: 17px;
  margin-bottom: 17px;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.22em;
  margin-top: 15px;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 15px;
}

select {
  padding: 4px 6px 4px 2px;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: 3px;
}

.text-input {
  padding: 4px 5px;
  border: 1px solid darkgrey;
  border-radius: 3px;
}

label {
  user-select: none;
  margin-right: 7px;
}

.non-selectable {
  user-select: none;
  cursor: default;
}

/* Pagination */

.page-group {
  user-select: none;
  margin: 10px 0;
}

.page, .ellipsis {
  color: #073b3b;
  display: inline-block;
  padding: 5px 3px;
  border: 1px solid #62b0c2;
  margin-right: -1px;
  min-width: 23px;
}

.ellipsis {
  background-color: #f8f8f8;
  cursor: default;
}

.page:hover {
  color: black;
  background-color: #eef8fa;
  text-decoration: none;
}

.page-selected, .page-selected:hover {
  color: white;
  background-color: #62b0c2;
}

.page:first-child {
  padding-left: 4px;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

.page:last-child {
  padding-right: 4px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}


/*Navigation bar*/

.nav {
  visibility: hidden;
  margin-top: -1px;
  margin-bottom: 15px;
  white-space: nowrap;
  overflow: hidden;
}

  .nav a {
    display: inline-block;
    background-color: #def1f5;
    padding: 9px 12px 10px;
    text-decoration: none;
    color: black;
    font-size: 1.05em;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
  }

    .nav a svg {
      height: 20px;
    }

    .nav a svg, .nav a span {
      display: inline-block;
      vertical-align: middle;
    }

    .nav a.nav-selected, .nav a:hover {
      background-color: #b7e1e9;
      padding-top: 10px;
      padding-bottom: 13px;
      vertical-align: top;
      margin-bottom: 7px;
    }

    .nav a.nav-selected {
      font-weight: bold;
      color: #454545;
    }


/* Classes */

.green {
  color: #009a00;
}

.red {
  color: #bb0000;
}

.grey {
  color: #b9b9b9;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.big {
  font-weight: bold;
  font-size: 1.07em;
}

.margin-3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.margin-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.margin-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}


/* Header */

.header-container {
  background-color: #73c4d7;
}

.header {
  height: 64px;
  text-align: right;
  user-select: none;
  white-space: nowrap;
}

  .header * {
    user-select: none;
  }

  .header > * {
    vertical-align: top;
  }

.header-content {
  visibility: hidden;
  padding-left: 210px;
}

.home {
  position: absolute;
}

#logo {
  display: block;
  height: 64px;
  padding: 4px 7px 2px;
  box-sizing: border-box;
}

  #logo img {
    display: block;
  }

#shadow {
  display: none;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  width: 100%;
  height: calc(100% - 48px);
  bottom: 0;
  left: 0;
}

#mob-menu-container {
  display: none;
  position: absolute;
  width: 100%;
  top: 48px;
}

#mob-menu {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);
  border: 1px solid #afc3c7;
  box-sizing: border-box;
}

#mob-menu-icon {
  display: none;
  cursor: pointer;
}

  #mob-menu-icon svg {
    margin-top: 8px;
    width: 32px;
    height: 32px;
    fill: #454545;
  }

svg {
  fill: #454545;
}



.header-block {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 64px;
  padding: 0 7px;
  text-decoration: none;
  vertical-align: top;
}

  .header-block svg {
    height: 38px;
    margin-top: 13px;
  }

  .header-block:hover .dd {
    display: block;
  }

  .header-block:hover, #logo:hover {
    background-color: #69b8cb;
    text-decoration: none;
  }

  .header-block a:hover {
    color: #0000b1;
    text-decoration: none;
  }


.link-text {
  display: inline-block;
  padding-left: 7px;
  margin-top: 22px;
  color: white;
  font-size: 1.05em;
  font-weight: bold;
  text-shadow: 0 0 15px rgba(128, 128, 128, 0.3);
  vertical-align: top;
}

.header-reg-block .link-text {
  padding-left: 3px;
  padding-right: 3px;
}

#link-mode svg {
  padding-right: 7px;
}


#mode-text-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  color: white;
  text-align: left;
  line-height: 1.35;
}

#mode-name {
  font-size: 1.05em;
  font-weight: bold;
}

#link-lang {
  display: inline-block;
  margin: 18px 4px 0 4px;
  text-align: center;
}

#select-lang {
  padding: 5px 8px 5px 12px;
  border: 1px solid #73c4d7;
  border-radius: 25px;
  text-align: center;
  background-color: white;
}

#dd-lang {
  display: none;
  background-color: white;
  cursor: pointer;
  position: relative;
  top: 3px;
}

  #dd-lang div {
    padding: 3px 9px;
    border-top: 1px solid #73c4d7;
    border-left: 1px solid #73c4d7;
    border-right: 1px solid #73c4d7;
  }

    #dd-lang div:last-child {
      padding-bottom: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom: 1px solid #73c4d7;
    }

    #dd-lang div:hover {
      background-color: #f5f5f5;
    }


#second-line {
  margin-top: 1px;
  margin-bottom: 6px;
  position: relative;
}

.dd {
  display: none;
  position: absolute;
  top: 64px;
  background-color: #eceeee;
  box-shadow: 1px 4px 16px 1px rgba(0,0,0,0.2);
  z-index: 30;
  text-align: left;
}

#user-dd {
  right: 0;
}

#dic-dd {
  left: 50%;
  transform: translate(-50%, 0);
}

#mode-dd {
  z-index: 20;
  right: 0;
}

#loading-small {
  display: none;
  z-index: 15;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 64px;
  background-color: #f3f3f3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


.dd a, .dd div {
  padding: 4px 5px;
  display: block;
  white-space: nowrap;
  border-bottom: 1px solid #dadbe1;
  cursor: pointer;
  color: black;
}

  .dd a:first-child, .dd div:first-child {
    padding-top: 4px;
  }

  .dd a:hover, .dd div:hover {
    background-color: #fdfdfd;
    color: black;
  }


#select-dic-dir-container {
  z-index: 10;
  position: absolute;
  top: 47px;
  right: 7px;
}

#ms-strength-diff {
  display: none;
}

#mini-stat span, #ms-last-card {
  position: relative;
}

#logout-x {
  text-decoration: none;
}

  #logout-x:hover {
    font-weight: bold;
  }






/* Mob menu*/

#mob-menu {
  display: none;
  text-align: left;
  background-color: #eef7f9;
}

  #mob-menu a {
    padding: 8px 7px;
    display: block;
    border-bottom: 1px solid #afc3c7;
    cursor: pointer;
    font-size: 1.05em;
    font-weight: bold;
    color: #026278;
  }

    #mob-menu a:last-child {
      border-bottom: none;
    }

    #mob-menu a:hover {
      text-decoration: none;
      background-color: #ddeaed;
    }

    #mob-menu a.mob-menu-indent {
      padding-left: 32px;
    }

    #mob-menu a svg {
      height: 18px;
      width: 18px;
      margin-right: 3px;
    }

    #mob-menu a svg, .mob-menu a span {
      vertical-align: middle;
    }


@media only screen and (max-width: 990px) {
  #logo {
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media only screen and (max-width: 600px) {

  .body-content {
    min-height: calc(100% - 48px);
  }

  #mob-menu-container {
    display: block;
  }

  #mob-menu-icon {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

  #logo {
    display: none;
  }

  .header {
    height: 48px;
  }

  .header-content {
    padding-left: 60px;
  }

  #link-lang {
    margin-top: 9px;
  }

  .header-block {
    height: 48px;
  }

  .link-text {
    margin-top: 15px;
  }

  .header-block svg {
    height: 32px;
    margin-top: 8px;
  }

  #mode-text-container {
    margin-top: 3px;
  }

  .dd, #loading-small {
    top: 48px;
  }

  #link-dic, #link-user, #link-mode svg {
    display: none !important;
  }
}


@media only screen and (max-width: 480px) {

  .header-block {
    position: initial;
  }

  #mode-dd {
    width: 100%;
  }

    #mode-dd div {
      white-space: normal;
    }
}

@media only screen and (max-width: 400px) {
  .header-reg-block {
    display: none;
  }
}


/* Main */
#welcome, #choose-training {
  margin-top: 8vh;
}

#slogan-title {
  font-size: 1.20em;
}

#description {
  border-radius: 3px;
  padding: 12px 17px;
  font-size: 1.1em;
  line-height: 1.5;
  margin: 6vh auto;
  width: calc(340px + 40%);
  background-color: #f5f9fa;
  box-sizing: border-box;
}

#description, .variant {
  border: 1px solid #d3d6d7;
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 600px) {
  #description {
    width: 98%;
    padding: 8px 6px;
  }
}

#trying-dic {
  font-size: 1.1em;
  padding: 4px 6px;
}

.link-try-out {
  padding: 12px 15px;
  font-size: 1.15em;
  border-width: 2px;
  color: white;
  background-color: #73c4d7;
  margin-bottom: 10px;
}

  .link-try-out:hover {
    background-color: #57bdd5;
    border-color: #57bdd5;
  }

.link-main-reg-login {
  padding: 8px 15px;
}

.variant {
  display: inline-block;
  min-height: 173px;
  width: 300px;
  margin: 10px 7px 20px;
  padding: 8px;
  border-radius: 16px;
  background-image: linear-gradient(to bottom, #fcfdfd, #e7eaea);
  user-select: none;
  vertical-align: top;
}

@media only screen and (max-width: 690px) {
  .variant {
    display: block;
    box-sizing: border-box;
    width: 98%;
    max-width: 500px;
    min-height: initial;
    margin: 20px auto;
  }
}


.variant:hover {
  background-image: linear-gradient(to bottom, #f9fbfb, #dee2e2);
  cursor: pointer;
}

.variant h4 {
  font-size: 1.35em;
  margin: 7px 0 12px;
  text-shadow: 0 0 15px rgba(128, 128, 128, 0.3);
}

.variant p {
  font-size: 1.07em;
  line-height: 1.3;
}



/*Studying*/

#mini-stat-outer {
  position: absolute;
  min-height: 13px;
  width: 100%;
  left: 0;
  margin: 0 auto;
  box-sizing: border-box;
  user-select: none;
}

@media only screen and (max-height: 495px) {
  #mini-stat-outer {
    display: none;
  }
}

#mini-stat-container {
  display: none;
  line-height: 1.2;
  padding-top: 2px;
  user-select: none;
}


#studying {
  max-width: 735px;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media only screen and (min-width: 300px) and (max-width: 599px) {
  #studying {
    padding-top: calc(35vh - 140px);
    min-height: calc(100vh - 48px - 10px);
  }
}

@media only screen and (min-width: 600px) {
  #studying {
    padding-top: calc(35vh - 140px);
    min-height: calc(100vh - 64px - 10px);
  }
}


#buttons-row-show-hint {
  min-height: 104px;
}

#mode-2-content {
  min-height: 270px;
}

#card-container {
  margin: 15px 0;
}

#login-form {
  text-align: right;
}

#edit-container {
  display: none;
}


.disabled-field {
  background-color: #eeeeee;
}

.scalable {
  letter-spacing: 0.07em;
}

.field-box {
  margin-top: 22px;
  margin-bottom: 15px;
  padding: 3px 6px 5px;
  border: 1px solid darkgrey;
  border-radius: 6px;
  background-color: #f7f8f8;
  font-size: 1em;
  /*word-wrap: break-word;*/
  overflow-x: auto;
}

#word, #translation {
  font-size: 2.2em;
}

#transcription {
  color: #888888;
  font-size: 1.7em;
}


button, .but {
  display: inline-block;
  background-image: linear-gradient(to bottom, #f4f5f5, #dbdddd);
  border: 1px solid #afafaf;
  cursor: pointer;
  min-width: 130px;
  border-radius: 7px;
  margin: 6px;
  padding: 7px 4px;
  font-size: 1.07em;
  letter-spacing: 0.05em;
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.1), inset 0px 3px 0px 0px rgba(255,255,255,0.3);
  outline: none;
}

  button:hover, .but:hover {
    background-image: linear-gradient(to bottom, #f0f1f1, #d3d5d5);
  }

.ch-translation:hover {
  background-image: linear-gradient(to bottom, #f4f5f5, #dbdddd);
}

.but-big {
  font-size: 1.17em;
  padding-top: 11px;
  padding-bottom: 11px;
}

#buttons-row-show-hint button {
  min-width: 195px;
}

#buttons-row-show-hint, #buttons-row-assess {
  margin-top: 12px;
  margin-bottom: 12px;
  display: none;
}

#example {
  display: none;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 3px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background-color: #fbfcfc;
  font-size: 1.43em;
}

.highlighted {
  color: green;
}

/* Choose */

#ch-word-container {
  min-height: calc(2.3em + 20px);
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 2.2em;
  line-height: 1.15;
}

#ch-word {
  padding: 8px 10px 10px;
  border: 1px solid darkgrey;
  border-radius: 6px;
  background-color: #f7f8f8;
  word-wrap: break-word;
}

.ch-translation {
  width: 270px;
  padding: 6px 4px 8px;
  font-size: 1.7em;
  box-sizing: border-box;
  word-wrap: break-word;
  vertical-align: top;
  color: black;
}

.ch-green, .ch-green:hover {
  background-image: linear-gradient(to top, #81e4a4, #dbfee8);
}

.ch-red, .ch-red:hover {
  background-image: linear-gradient(to top, #ff9fab, #ffe0e0);
}

#ch-error-translation {
  display: none;
  font-size: 1.4em;
  margin-top: 10px;
}

@media only screen and (max-width: 580px) {
  .ch-translation {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}




/* Profile */

.settings-group {
  display: inline-block;
  border: 1px solid #c4c4c4;
  border-radius: 17px;
  padding: 12px 17px 7px;
  margin-bottom: 5px;
  background-color: #fcfcfc;
}

.mixed-delete {
  color: #bb0000;
}

  .mixed-delete:hover {
    font-weight: bold;
    cursor: pointer;
  }

#mixed-list {
  display: table;
  border-spacing: 0 4px;
  font-size: 1.02em;
  margin: 0 auto;
}

  #mixed-list > div {
    display: table-row;
    margin: 10px;
  }

    #mixed-list > div > span {
      display: table-cell;
      background-color: #e3f4f7; /*#def1f5*/
      padding: 2px 4px;
    }

      #mixed-list > div > span:first-child {
        padding: 2px 12px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      #mixed-list > div > span:last-child {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

  #mixed-list .limit-input {
    border: 1px solid #e3f4f7;
  }

    #mixed-list .limit-input:focus, 
    #mixed-list .limit-input:hover {
      border: 1px solid #77B3D8;
      background-color: white;
      border-radius: 3px;
    }

.random-switcher {
  cursor: pointer;
  color: #0000b1;
}

#font-size {
  padding: 2px;
  width: 30px;
}

.summary, .summary td, .summary th {
  border: 1px solid black;
}

  .summary td, .summary th {
    padding: 3px 4px;
  }

.table-dic-stat {
  margin: auto;
}

  .table-dic-stat td {
    padding-left: 7px;
    padding-right: 7px;
  }

.height-plus {
  height: 30px;
  vertical-align: bottom;
}


input[name="isDirect"] {
  position: relative;
  bottom: -2px;
}

#limit {
  padding: 4px 4px;
  width: 65px;
  border: 1px solid darkgrey;
  border-radius: 3px;
}

@-moz-document url-prefix() {
  #limit {
    padding-left: 5px;
    padding-right: 2px;
  }
}

#chart-ranks, #chart-days {
  max-width: 550px;
  margin: 0 auto;
}

.info-message {
  color: red;
}



/* Dictionaries, cards, results */

.high-row td {
  padding: 4px 8px;
}

.editor label {
  text-align: left;
  margin-bottom: 0;
  display: block;
}

.inactive {
  background-color: #eeeeee;
}

.editor input[type="text"],
.editor textarea,
.editor-box,
.editor .inactive {
  display: block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 12px;
  padding: 5px 5px;
  border: 1px solid darkgrey;
  border-radius: 4px;
  text-align: left;
  font-size: 26px;
  min-height: 38px;
  line-height: 1;
}

.editor textarea {
  font-size: 1.4em;
}



#all-results {
  min-width: 100%;
}

.date-col {
  min-width: 92px;
}

.search-container {
  margin: 12px 0;
}

.search-cards {
  max-width: 200px;
  font-size: 1.07em;
}

.but-search {
  vertical-align: top;
  height: 20px;
  cursor: pointer;
  padding-top: 5px;
  margin-left: 5px
}


/* Dictionaries */

.svg-edit, .svg-cancel {
  cursor: pointer;
  margin: 0 6px;
}


.dic-editor {
  font-size: 1.05em;
  border: 1px solid darkgrey;
  border-radius: 12px;
  margin: 5px auto;
  max-width: 450px;
  margin: 0 auto 15px;
  padding: 3px 5px 10px;
  background-color: #fbfbfb;
}

  .dic-editor > div {
    margin-top: 10px;
    margin-bottom: 10px;
  }

    .dic-editor > div > * {
      margin-top: 5px;
      margin-bottom: 5px;
    }

  .dic-editor input[type=text] {
    padding: 4px 5px;
    border: 1px solid darkgrey;
    border-radius: 3px;
    width: 60px;
    box-sizing: border-box;
    margin-left: 7px;
  }

  .dic-editor input.de-name {
    width: 330px;
    box-sizing: border-box;
    font-size: 1.05em;
  }

@media only screen and (max-width: 360px) {
  .dic-editor input.de-name {
    width: 90%;
  }
}

#cards-content {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.25em;
  height: 250px;
}


/* Login */

.form-login {
  position: relative;
  box-sizing: border-box;
}

.form-label {
  display: block;
  position: absolute;
  box-sizing: border-box;
  left: 0px;
  width: 38.5%;
  text-align: right;
  margin-top: 4px;
}

.form-input {
  display: block;
  position: relative;
  box-sizing: border-box;
  left: 40.3%;
  width: 260px;
  padding: 4px 5px;
  border: 1px solid darkgrey;
  border-radius: 3px;
  font-size: 1.15em;
  margin-top: 10px;
}

select.form-input {
  padding-left: 2px;
  padding-right: 6px;
}

.field-validation-error {
  color: red;
  display: block;
  font-size: 0.95em;
  padding-left: 40.3%;
  text-align: left;
}

@media only screen and (max-width: 450px) {
  .form-login {
    padding: 0 3%;
  }

  .form-label {
    position: initial;
    width: 100%;
    text-align: left;
    margin-top: 8px;
  }

  .form-input {
    position: initial;
    width: 100%;
    margin-top: 3px;
  }

  .field-validation-error {
    padding-left: 0;
  }
}




input:not(.transparent):focus,
div[contenteditable]:focus,
textarea:focus,
select:focus {
  border: 1px solid #77B3D8 !important;
  box-shadow: 0 0 7px #C8E0EF !important;
}

*[contenteditable]:empty:before {
  content: "\feff"; /* ZERO WIDTH NO-BREAK SPACE */
}


.validation-summary-errors {
  margin-top: 5px;
  margin-bottom: 5px;
  color: red;
}

  .validation-summary-errors li {
    list-style-type: none;
  }

center,
center + script,
center + script + div,
center + script + div + div,
center + script + div + div + div {
  display: none !important;
}

div[data-ttid] {
  display: block !important;
}
