﻿@model Result
@{
  ViewBag.Title = Resource.eEditResult;
}
<div class="form-width-limit">
  <h1>@ViewBag.Title</h1>

  @Html.ActionLink(Resource.eEditCard, "Edit", "Cards", new { Id = Model.Card.Id }, new { @class = "rounded-link" })

  @using (Html.BeginForm("Edit", "Results", FormMethod.Post, new { id = "form-edit-result", @class = "editor" }))
  {
    <label>@Resource._Word</label>
    <div class="inactive">@Model.Card.Word</div>

    <label>@Resource._Translation</label>
    <div class="inactive">@Model.Card.Translation</div>

    <label>@Resource._DictionaryName</label>
    <div class="inactive">@Model.Card.Dictionary.Name</div>

    <label>@Resource._UserName</label>
    <div class="inactive">@Model.User.UserName</div>

    <label>@Resource._Direction</label>
    <div class="inactive">@(Model.IsDirect ? @Resource._Direct : @Resource._Inverse)</div>

    <label>@Resource._DictionaryName</label>
    <div class="inactive">@Model.Card.Dictionary.Name</div>


    @Html.HiddenFor(m => m.Id)

    @Html.LabelFor(m => m.FirstTime, Resource._FirstTime)
    @Html.TextBoxFor(m => m.FirstTime)

    @Html.LabelFor(m => m.Showed, Resource.eLastTime)
    @Html.TextBoxFor(m => m.Showed)

    @Html.LabelFor(m => m.Updated, Resource._Updated)
    @Html.TextBoxFor(m => m.Updated)

    @Html.LabelFor(m => m.UpdatedCnt, Resource.eUpdatedCnt)
    @Html.TextBoxFor(m => m.UpdatedCnt)

    @Html.LabelFor(m => m.Strength, Resource._Strength)
    @Html.TextBoxFor(m => m.Strength)

  }

  <button id="button-save-result"
          class="margin-15 but"
          data-val1="@Resource._Save"
          data-val2="@Resource._Saved">
    @Resource._Save
  </button>

  <button id="button-delete-result"
          class="margin-15 but"
          data-val1="@Resource._Delete"
          data-val2="@Resource._Deleted">
    @Resource._Delete
  </button>

</div>