﻿@model ResultsVM

@{
  ViewBag.Title = Resource.pAllResults;
  var rv = Model.RouteValues;
}

@if (Model.Mode != null)
{
  ViewBag.Title = string.Format(@Resource.AllUserResultsIn, Model.Mode.UserName) + " " + Model.Mode.DicName + ", " + (Model.RouteValues.IsDirect.Value ? Resource._DirectDirection : Resource._InverseDirection);

  ViewBag.Type = "results";
  @Html.Partial("_UserNav", Model.Mode)

  <h1>
    @string.Format(@Resource.AllUserResultsIn, Model.Mode.UserName)
    @Html.ActionLink(Model.Mode.DicName, "View", "Dictionaries", new { Id = Model.Mode.DicId }, new { @class = "cyan" }),
    @(Model.RouteValues.IsDirect.Value ? Resource._DirectDirection : Resource._InverseDirection)
  </h1>
}
@Html.PageLinks(Model.PageInfo, "View", rv)

<div class="x-scroll">
  <table id="all-results" class='solid-table margin-15'>

    <tr>
      <th>
        @Html.ActionLink(Resource._NumberSign + rv.OrderSign(1), "View", "Results", rv.Clone(1),
          null)
      </th>
      <th>
        @Html.ActionLink(Resource._Word + rv.OrderSign(2), "View", "Results", rv.Clone(2),
          null)
      </th>
      <th>
        @Html.ActionLink(Resource._Translation + rv.OrderSign(3), "View", "Results", rv.Clone(3),
          null)
      </th>

      <th>
        @Html.ActionLink(Resource._Strength + rv.OrderSign(4), "View", "Results", rv.Clone(4),
          null)
      </th>

      <th>
        @Html.ActionLink(Resource.pCount + rv.OrderSign(5), "View", "Results", rv.Clone(5),
          null)
      </th>

      <th class="date-col">
        @Html.ActionLink(Resource._FirstTime + rv.OrderSign(6), "View", "Results", rv.Clone(6),
          null)
      </th>

      <th class="date-col">
        @Html.ActionLink(Resource.eLastTime + rv.OrderSign(7), "View", "Results", rv.Clone(7),
          null)
      </th>

      <th class="date-col">
        @Html.ActionLink(Resource._Updated + rv.OrderSign(8), "View", "Results", rv.Clone(8),
          null)
      </th>

      @if (Model.RouteValues.IsDirect == null)
      {
        <th>
          @Html.ActionLink(Resource._Direction + rv.OrderSign(9), "View", "Results", rv.Clone(9),
            null)
        </th>
      }
      @if (Model.RouteValues.DicId == null)
      {
        <th>
          @Html.ActionLink(Resource._Dictionary + rv.OrderSign(10), "View", "Results", rv.Clone(10),
            null)
        </th>
      }
      @if (Model.RouteValues.UserId == null)
      {
        <th>
          @Html.ActionLink(Resource._UserName + rv.OrderSign(11), "View", "Results", rv.Clone(11),
            null)
        </th>
      }
    </tr>

    @{int count = Model.PageInfo.SkippedItems;}
    @foreach (var res in Model.Results)
    {
      <tr>
        <td>
          @Html.ActionLink((++count).ToString(), "Edit", "Cards", new { Id = res.Card.Id }, null)
        </td>
        <td>@res.Card.Word</td>
        <td>@res.Card.Translation</td>
        <td>
          @if (User.IsInRole("admin"))
          {
            @Html.ActionLink(!res.Strength.HasValue ? "null" : res.Strength.Value.ToString("F4"), "Edit", "Results", new { Id = res.Id }, null)
          }
          else
          {
            @(!res.Strength.HasValue ? "null" : res.Strength.Value.ToString("F4"))
          }
        </td>
        <td>@res.UpdatedCnt</td>
        <td>@res.FirstTime</td>
        <td>@res.Showed</td>
        <td>@res.Updated</td>
        @if (Model.RouteValues.IsDirect == null)
        {
          <td>@(res.IsDirect ? Resource._Direct : Resource._Inverse)</td>
        }
        @if (Model.RouteValues.DicId == null)
        {
          <td>@res.Card.Dictionary.Name</td>
        }
        @if (Model.RouteValues.UserId == null && res.User != null)
        {
          <td>@res.User.UserName</td>
        }
      </tr>
    }
  </table>
</div>

@Html.PageLinks(Model.PageInfo, "View", rv)


