﻿@model StudyVM

@{
  string SiteTitle = "Improve Your Vocabulary";
  ViewBag.Title = SiteTitle + " - " + Resource.hTitle;
}

@if (ViewBag.Message != null)
{
  <p class="info-message">
    <br />@ViewBag.Message
  </p>
}

@if (User.IsInRole("admin"))
{
  <div id="mini-stat-outer">
    <div id="mini-stat-container">
      <div id="mini-stat" class="hidden">
        <span id="ms-old" data-title="@Resource.tOldCnt"></span>
        +
        <span id="ms-weak-ready" data-title="@Resource.tWeakReadyCnt"></span>
        /
        <span id="ms-weak" data-title="@Resource.tWeakCnt"></span>
        +
        <span id="ms-mid" data-title="@Resource.tMidCnt"></span>
        /
        <span id="ms-count" data-title="@Resource.tPassedCnt"></span>
        /
        <span id="ms-total" data-title="@Resource.tdicTotal"></span>
        ÷
        <span id="ms-strength" data-title="@Resource.tAvgStrength"></span>
      </div>

      <div id="mini-stat-diff" class="hidden">
        <span id="msd-cards-cnt">0</span>
        \
        <span id="msd-old">0</span>
        ÷
        <span id="msd-weak-ready">0</span>
        /
        <span id="msd-weak">0</span>
        ÷
        <span id="msd-mid">0</span>
        /
        <span id="msd-count">0</span>
        /
        <span id="msd-total">0</span>
        ÷
        <span id="msd-strength">0</span>
      </div>

      <div id="mini-stat-line3">
        <span id="ms-get-cards"></span>
        <span id="ms-last-card" data-title="@Resource.tLastCard"></span>
      </div>

      <div id="card-info"></div>
    </div>
  </div>
}
<div id="welcome" @(Model.IsAuthenticated || Model.IsDicTrySet ? "class=hidden" : "")>
  <h1>
    <span id="slogan-title">@SiteTitle</span>
    - @Resource.hTitle
  </h1>

  <div>
    <p id="description">
      @Resource.hDescription
    </p>
      
    <div class="rounded-link link-try-out" style="cursor: pointer;" >@Resource.hTryOut</div>

    @Html.ActionLink(Resource.uRegister, "Register", "User", null, new { @class = "rounded-link link-main-reg-login" })

    @Html.ActionLink(Resource.uLogin, "Login", "User", null, new { @class = "rounded-link link-main-reg-login" })
  </div>
</div>

<div id="choose-training" @(Model.IsAuthenticated ? "" : "class=hidden")>
  @if (!Model.IsAuthenticated)
  {
    <h3>@Resource.hChooseDictionary</h3>
    @Html.DropDownList("trying-dic", Model.Dictionaries)
  }

  <h3>@Resource.hChooseTraining</h3>

  <div class="variant" onclick="StartTraining(1);">
    <h4>@Resource.hStydyAndRevise</h4>
    <p>@Resource.hStydyAndReviseText</p>
  </div>
  @if (Model.Training2Available)
  {
    <div id="variant-choose" class="variant" onclick="StartTraining(2);">
      <h4>@Resource.hChoiceFromVariants</h4>
      <p>@Resource.hChoiceFromVariantsText</p>
    </div>
  }
</div>

<div id="studying">
  <div>
    <img id="loading-img" class="hidden" src="@Url.Content("~/Images/loading.gif")" />

    <div id="mode-1-content" class="width-limit-small hidden">

      <div id="card-container">
        <div class="field-box scalable">
          <span id="word"> </span>
          <span id="transcription"></span>
        </div>
        
        <div class="field-box scalable">
          <span id="translation"> </span>
        </div>
      </div>

      <div id="buttons-row-show-hint">
        <button class="but-big" onclick="ButHint()">@Resource.hButHint</button>
        <button class="but-big" onclick="ButShowTranslation()">@Resource.hButShowTranslation</button>
      </div>

      <div id="example"></div>

      <div id="buttons-row-assess">
        <button class="but-big" id="button0" onclick="SendResult(0);">@Resource.hButResult1</button><button class="but-big" id="button1" onclick="SendResult(1);">@Resource.hButResult2</button><button class="but-big" id="button2" onclick="SendResult(2);">@Resource.hButResult3</button><button class="but-big" id="button3" onclick="SendResult(3);">@Resource.hButResult4</button>
      </div>
    </div>

    <div id="mode-2-content" class="width-limit-small hidden">
      <div id="ch-word-container" class="scalable">
        <div id="ch-word"> </div>
      </div>
      <div class="scalable">
        <button id="ch-0" class="ch-translation" onclick="Choose(0)"></button>
        <button id="ch-1" class="ch-translation" onclick="Choose(1)"></button>
        <button id="ch-2" class="ch-translation" onclick="Choose(2)"></button>
        <button id="ch-3" class="ch-translation" onclick="Choose(3)"> </button>
      </div>
      <div id="ch-error-translation"></div>
    </div>

    @if (User.IsInRole("moderator"))
    {
      <div id="edit-container">
        @Html.Action("EditContainer", "Cards")
      </div>
    }

    <div id="errors"></div>
  </div>

  @if (Model.IsAuthenticated)
  {
    <div id="buttons-row-bottom" class="hidden">
      <button onclick="SendResult(-1);">@Resource.hDoNotStudy</button>

      <button id="button-show-example"
              class="hidden"
              data-val1="@Resource.hButShowExamples"
              data-val2="@Resource.hButHideExamples"
              onclick="ButShowExample()">
        @Resource.hButShowExamples
      </button>

      <button id="button-mark"
              data-val1="@Resource.hButSendToCheck"
              data-val2="@Resource._Sent"
              onclick="ButMark()">
        @Resource.hButSendToCheck
      </button>

      @if (User.IsInRole("moderator"))
      {
        <button id="button-edit"
                data-val1="@Resource._Edit"
                data-val2="@Resource.hButCloseEditor"
                onclick="ButEdit()">
          @Resource._Edit
        </button>
      }
    </div>
  }
</div>

@section Scripts {
  <script>
    RefreshOnModeChanged = true;
  </script>
}