﻿@model IEnumerable<SelectListItem>
@{
  ViewBag.Title = Resource.eAddCards;
  SelectListItem current = Model.FirstOrDefault(x => x.Selected == true);
}

@{ViewBag.Type = "addCards";}
@Html.Partial("_DicNav")

<div class="form-width-limit">
  <h1>@ViewBag.Title</h1>
  @if (ViewBag.Added != null)
  {
    <div class="green">
      @Resource.eWordsAdded: @ViewBag.Added
    </div>
    <div class="margin-10">
      @if (current != null)
      {
        @Html.ActionLink(Resource.eToDictionary + " " + current.Text, "View", "Dictionaries", new { id = current.Value }, new { @class = "rounded-link" })
      }
    </div>
  }
  @using (Html.BeginForm("Add", "Cards", FormMethod.Post, new { @class = "editor" }))
  {
    <div>
      <span class="inline margin-5">@Resource.eAddToDictionary</span>
      @Html.DropDownList("dicId", Model)
    </div>
    <br />
    <textarea id="cards-content" class="edit-field" name="cardsContent" placeholder="@Html.Raw(Resource.eAddWordsFormat)" ></textarea>
    <input type="submit" value="@Resource._Add" class="but">
  }
</div>