﻿@model Card
@{
  ViewBag.Title = Resource.eEditCard;
}

<div class="form-width-limit">
  <h1>@ViewBag.Title</h1>
  @Html.ActionLink("← " + Resource.eBackToDictionary + " " + Model.Dictionary.Name, "View", "Dictionaries", new { Id = Model.Dictionary.Id }, new { @class = "rounded-link" })

  @Html.Partial("EditContainer")
</div> 