﻿@model Card

@using (Html.BeginForm("Edit", "Cards", FormMethod.Post,
  new { Id = "form-edit-result", @class = "editor" }))
{
  @Html.HiddenFor(m => m.Id)

  @Html.LabelFor(x => x.Word, Resource._Word)
  <div contenteditable="true" id="Word" class="editor-box">@Model.Word</div>

  @Html.LabelFor(x => x.Transcription, Resource._Transcription)
  <div contenteditable="true" id="Transcription" class="editor-box">@Model.Transcription</div>

  @Html.LabelFor(x => x.Translation, Resource._Translation)
  <div contenteditable="true" id="Translation" class="editor-box">@Model.Translation</div>

  @Html.LabelFor(x => x.Example, Resource._Example)
  @Html.TextAreaFor(x => x.Example)

  <div class="align-left">
    @Html.CheckBox("Marked")
    @Html.Label("Marked", Resource.eMarkForChecking, new { style = "display: inline-block" })
  </div>
}
<button id="button-save-card"
        class="margin-15 but"
        data-val1="@Resource._Save"
        data-val2="@Resource._Saved">
  @Resource._Save
</button>

<button id="button-delete-card"
        class="margin-15 but"
        data-val1="@Resource._Delete"
        data-val2="@Resource._Deleted">
  @Resource._Delete
</button>
