﻿@model IEnumerable<Mark>
@{
  ViewBag.Title = Resource.eCardsForChecking;
  int count = 1;
}


@{ViewBag.Type = "marked";}
@Html.Partial("_DicNav")

<h1>@ViewBag.Title</h1>

<form method="post" action="/cards/unmark">
  <input type="submit" class="but" value="@Resource.eClearTheList">
</form>
<div class="x-scroll">
  <table class='solid-table'>
    <tr>
      <th>@Resource._NumberSign</th>
      <th>@Resource._Word</th>
      <th>@Resource._Translation</th>
      <th>@Resource._Dictionary</th>
      <th>@Resource._User</th>
    </tr>

    @foreach (var mark in Model)
    {
      <tr>
        <td>@Html.ActionLink((count++).ToString(), "Edit", "Cards", new { Id = mark.Card.Id }, null)</td>
        <td>
          @mark.Card.Word
          @if (mark.Card.Transcription != null)
          {<text>@mark.Card.Transcription</text>}
        </td>
        <td>@mark.Card.Translation</td>
        <td>
          @Html.ActionLink(mark.Card.Dictionary.Name, "View", "Dictionaries", new { Id = mark.Card.Dictionary.Id }, null)
        </td>
        <td>
          @Html.ActionLink(mark.User.UserName, "View", "User", new { Id = mark.User.Id }, null)
        </td>
      </tr>
    }
  </table>
</div>