﻿@model Card

@{
    ViewBag.Title = Resource.eViewCard;
}

<h1>@ViewBag.Title</h1>

@Html.ActionLink("← " + Resource.eBackToDictionary + " " + Model.Dictionary.Name, "View", "Dictionaries", new { Id = Model.Dictionary.Id }, new { @class = "rounded-link" })

<div class="form-width-limit editor">

  @Html.LabelFor(x => x.Word, Resource._Word)
  <div class="editor-box">@Model.Word</div>

  @Html.LabelFor(x => x.Transcription, Resource._Transcription)
  <div class="editor-box">@(Model.Transcription != null ? @Model.Transcription : " ")</div>

  @Html.LabelFor(x => x.Translation, Resource._Translation)
  <div class="editor-box">@Model.Translation</div>

  @Html.LabelFor(x => x.Example, Resource._Example)
  <div class="editor-box" id="edit-example">@(Model.Example != null ? @Model.Example : " ")</div>
</div>