﻿@model ChangePasswordVM

<h2>@Resource.uPasswordChanging</h2>
@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-login" }))
{
  @Html.AntiForgeryToken()
  <div>
    @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-input", autocomplete="off" })
    @Html.ValidationMessageFor(m => m.OldPassword)
  </div>
  <div>
    @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.NewPassword)
  </div>
  <div>
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
  </div>
  <input type="submit" class="margin-15 but" value="@Resource._Save" />
}