﻿@model DicStat

<h2>
  @Resource.pStatisticsIn
  @Html.ActionLink(Model.DicName, "View", "Dictionaries", new { Id = Model.DicId }, new { @class = "cyan" }),
  @(Model.IsDirect ? Resource._DirectDirection : Resource._InverseDirection)
</h2>

<table class='table-dic-stat settings-group'>
  <tr>
    <td class='align-left'>
      @Resource.pPassedWords:
    </td>
    <td class='align-center'>@Model.Studied</td>
  </tr>
  <tr>
    <td class='align-left'>
      @Resource.pStudyingWords:
    </td>
    <td class='align-center'>@Model.Studying</td>
  </tr>
  @if (Model.Skipped > 0)
  {
    <tr>
      <td class='align-left'>@Resource.pSkippedWords:</td>
      <td class='align-center'>@Model.Skipped</td>
    </tr>
  }
  <tr>
    <td class='align-left'>
      @Resource.pTotalWords:
    </td>
    <td class='align-center'>@Model.DicTotal</td>
  </tr>

  @if (Model.Studied > 0)
  {
    <tr class="height-plus">
      <td class='align-left'>@Resource.pOldToImprove:</td>
      <td class='align-center'>@Model.Old</td>
    </tr>

    <tr>
      <td class='align-left'>@Resource.pWeakToImprove:</td>
      <td class='align-center'>@Model.Weak</td>
    </tr>

    <tr class="height-plus">
      <td class='align-left'>@Resource.pKnowBad:</td>
      <td class='align-center'>@Model.Weak</td>
    </tr>
    <tr>
      <td class='align-left'>@Resource.pKnowMid:</td>
      <td class='align-center'>@Model.Mid</td>
    </tr>
    <tr>
      <td class='align-left'>@Resource.pKnowWell:</td>
      <td class='align-center'>@Model.Good</td>
    </tr>
    <tr>
      <td class='align-left'>@Resource.pKnowPerfect:</td>
      <td class='align-center'>@Model.Strong</td>
    </tr>
    <tr class="height-plus">
      <td class='align-left'>@Resource.pAverageKnowledge:</td>
      <td colspan="1" class='align-center'>@Math.Round(Model.AvgStrength, 4)</td>
    </tr>
    <tr class="height-plus">
      <td class='align-left'>@Resource.pTotalCards:</td>
      <td colspan="1" class='align-center'>@Model.Updations</td>
    </tr>
  }
</table>
