﻿@model IEnumerable<AppUserVM>
@{
  ViewBag.Title = @Resource.uAllUsers;
}

<h1>@ViewBag.Title</h1>
<div class="x-scroll">
  <table id="all-users" class='solid-table'>

    <tr>
      <th>@Resource._NumberSign</th>
      <th>@Resource._UserName</th>
      <th>@Resource._Email</th>
      <th>@Resource.uEmailConfirmed</th>
      <th>@Resource.pSiteLanguage</th>
      <th>@Resource.pModeForStudying</th>
      <th>@Resource.uRoles</th>
      <th>@Resource.uLastActivity</th>
    </tr>

    @foreach (var u in Model)
    {
      bool empty = true;
      <tr>
        <td>@Html.ActionLink(u.AppUser.Id.ToString(), "View", "User", new { Id = u.AppUser.Id }, null)</td>
        <td>@u.AppUser.UserName</td>
        <td>@u.AppUser.Email</td>
        <td>@(u.AppUser.EmailConfirmed ? "✓" : "-")</td>
        <td>@u.AppUser.Language</td>
        <td>
          @foreach (var m in u.CurrentModes)
          {
            if (!empty) {<text>, </text> }
            else { empty = false; }
            @Html.ActionLink(m.DicName + (m.IsDirect? "" : "↓"), "View", "Dictionaries", new { Id = m.DicId }, null)
          }
        </td>
        <td>@string.Join(", ", u.Roles)</td>
        <td class="date-col">@u.AppUser.LastActivity</td>
      </tr>
    }
  </table>
</div>