﻿@model UserDictionaryVM

@{
  ViewBag.Title = Resource.pSelectCards + " " + Model.DicName + ", " + (Model.IsDirect ? Resource._DirectDirection : Resource._InverseDirection);

  ViewBag.Type = "dictionary";
  var rv = Model.RouteValues;
}

@Html.Partial("_UserNav")

<h2>
  @Resource.pSelectCards
  @Html.ActionLink(Model.DicName, "View", "Dictionaries", new { Id = Model.DicId }, new { @class = "cyan" }),
  @(Model.IsDirect ? Resource._DirectDirection : Resource._InverseDirection)
</h2>

@Html.PageLinks(Model.PageInfo, "Dictionary", rv)
<div class="x-scroll">
  <table class='solid-table'>
    <tr>
      <th>
        @Html.ActionLink(Resource._NumberSign + rv.OrderSign(1), "Dictionary", "User", rv.Clone(1),
          null)
      </th>
      <th>
        @Html.ActionLink(Resource._Word + rv.OrderSign(2), "Dictionary", "User", rv.Clone(2),
          null)
      </th>
      <th>
        @Html.ActionLink(Resource._Translation + rv.OrderSign(3), "Dictionary", "User", rv.Clone(3),
          null)
      </th>
      <th>
        @Html.ActionLink("Status" + rv.OrderSign(4), "Dictionary", "User", rv.Clone(4),
          null)
      </th>
      @if (Model.IsOwner)
      {
        <th></th>}
    </tr>

    @{int count = Model.PageInfo.SkippedItems;}
    @foreach (var dr in Model.DicResults)
    {
      <tr @(dr.IsSkipped ? "class=grey" : "")>
        <td>
          @Html.ActionLink((++count).ToString(), "Edit", "Cards", new { Id = dr.Card.Id }, null)
        </td>
        <td class="align-left">
          @dr.Card.Word
          @if (dr.Card.Transcription != null)
          {<text>@dr.Card.Transcription</text>}
        </td>
        <td class="align-left">
          @dr.Card.Translation
        </td>
        <td class="align-left" data-skipped="Skipped" data-to-be-studied="To be studied">
          @if (dr.UpdatedCnt > 0)
          {
            <text>@Resource._Strength: </text>if (User.IsInRole("admin")) {
              @Html.ActionLink(dr.Strength.ToString("F4"), "edit", "results", new { id = dr.ResultId }, null)
            }
            else
            {@dr.Strength.ToString("F4")}
          }
          else
          {@(dr.IsSkipped ? Resource.pSkipped : Resource.pToBeStudied)}
        </td>
        @if (Model.IsOwner)
        {
          <td>
            <input type="checkbox" class="toggle-skip" data-id="@dr.Card.Id" data-is-direct="@Model.IsDirect" @(dr.IsSkipped ? "" : "checked") />
          </td>
        }
      </tr>
    }
  </table>
</div>
@Html.PageLinks(Model.PageInfo, "Dictionary", rv)
