﻿@model Apprendre.Models.LoginVM

@{
  ViewBag.Title = Resource.uLogin;

}
<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-login" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)
  <div>
    @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.UserName)
  </div>
  <div>
    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.Password)
  </div>
  <div>
        @Html.CheckBoxFor(m => m.RememberMe, new { style = "margin-top: 10px;" })
        @Html.LabelFor(m => m.RememberMe)
  </div>
  <input type="submit" class="margin-15 but" value="@Resource.uLogin" />
}
<p>@Html.Raw(Resource.uRegisterIfNoAccount.InsertLinksWithClass("bold cyan", Url.Action("Register")))</p>
<p>@Html.ActionLink(Resource.uIForgotPassword, "Reset_Password", null,  new {@class = "bold cyan"})</p>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}