﻿@model Apprendre.Models.RegisterVM
@{
  ViewBag.Title = Resource.uRegister;
  string Language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-login" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)
  @Html.Hidden("Language", Language)
  <div>
    @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.UserName)
  </div>
  <div>
    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.Email)
  </div>
  <div>
    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
    @Html.PasswordFor(m => m.Password, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.Password)
  </div>
  <div>
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
  </div>
  <input type="submit" class="margin-15 but" value="@Resource.uRegister" />
}
<p>
  @Html.Raw(Resource.uLoginIfYouHaveAcc.InsertLinksWithClass("bold cyan", Url.Action("Login")))
</p>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
