﻿@model ResetPasswordVM
@{
  ViewBag.Title = Resource.uIForgotPassword;
}

<h1>@ViewBag.Title</h1>

<p>@Resource.uMessageWillBeSent</p>

@using (Html.BeginForm("Reset_Password", "User", FormMethod.Post, new { @class = "form-login" }))
{
  @Html.AntiForgeryToken()
  <div>
    @Html.LabelFor(m => m.Email, new { @class = "form-label" })
    @Html.TextBoxFor(m => m.Email, new { @class = "form-input" })
  </div>
  @Html.ValidationSummary(true)
  <input type="submit" class="margin-15 but" value="@Resource._Send" />
}