﻿@{
  ViewBag.Title = Resource.uMessageSent;
}

<h2>@ViewBag.Title</h2>

<p>@Resource.uMessageIsSent</p>

<p>@Html.Raw(Resource.uGoToHomepage.InsertLinksWithClass("bold cyan", Url.Action("Main", "Study")))</p>

