﻿@model SetNewPasswordVM
@{
  ViewBag.Title = Resource.uSetNewPassword;
}
<h1>ViewBag.Title</h1>

@using (Html.BeginForm("SetNewPassword", "User", FormMethod.Post, new { @class = "form-login" }))
{
  @Html.AntiForgeryToken()

  @Html.HiddenFor(m=>m.UserId)
  @Html.HiddenFor(m=>m.Token)
  
  <div>
    @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-input", autocomplete = "off" })
    @Html.ValidationMessageFor(m => m.NewPassword)
  </div>
  <div>
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-input", autocomplete = "off" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword)
  </div>
  <input type="submit" class="margin-15 but" value="@Resource._Save" />
}

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}