﻿@model SettingsVM
@{
  ViewBag.Title = Resource.uSettings;

  var languagesSL = ViewBag.languagesSL as IEnumerable<SelectListItem>;
  var timezonesSL = ViewBag.timezonesSL as IEnumerable<SelectListItem>;
}

<h1>
  @Html.ActionLink(User.Identity.Name, "View", "User", null, new { @class = "rounded-link" })- @(((string)ViewBag.Title).ToLower())
</h1>

<p class="info-message">@ViewBag.Message</p>

@using (Html.BeginForm("ChangeSettings", "User", FormMethod.Post, new { @class = "form-login" }))
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  <div>
    @Html.Label("FontSize", Resource.pFontSize, new { @class = "form-label" })
    @Html.TextBox("FontSize", "", new { @class = "form-input", type = "number", step = "5" })
  </div>
  <div>
    @Html.Label("Language", Resource.pSiteLanguage, new { @class = "form-label" })
    @Html.DropDownList("Language", languagesSL, new { @class = "form-input" })
  </div>
  <div>
    @Html.Label("Timezone", Resource.pTimezone, new { @class = "form-label" })
    @Html.DropDownList("Timezone", timezonesSL, new { @class = "form-input" })
  </div>
  <div>
    @Html.LabelFor(x => x.Email, new { @class = "form-label" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-input" })
  </div>
  <input type="submit" class="margin-15 but" value="@Resource._Save" />
}

@Html.Partial("_ChangePassword", new ChangePasswordVM())

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
