﻿@model UserStatVM
@{
  ViewBag.Title = Resource.pStatisticsIn + " " + Model.DicName + ", " + (Model.IsDirect ? Resource._DirectDirection : Resource._InverseDirection);
}

@{ViewBag.Type = "stat";}
@Html.Partial("_UserNav")

<p class="info-message">@ViewBag.Message</p>

<div id="profile-container">
  @Html.Partial("_CurDicStatPartial", Model.DicStat)

  @if (Model.DicStat.Studied > 0)
  {
    <h2>@Resource.pStrengthChartTitle</h2>
    <div id="chart-ranks" data-count="@Resource.pChartCount" data-strength="@Resource._Strength"></div>

    <h2>@Resource.pTimeChartTitle</h2>
    <div id="chart-days" data-count="@Resource.pChartCount" data-days="@Resource.pChartDays"></div>

    <h2>@Resource.pTheWeakestWords</h2>
    <div class="x-scroll">
      <table class='solid-table'>
        <tr><th>@Resource._Word</th><th>@Resource._Translation</th><th>@Resource._Strength</th><th>@Resource.pCount_gen</th></tr>
        @foreach (var res in Model.WeakResults)
        {
          <tr>
            <td>@res.Card.Word</td>
            <td>@res.Card.Translation</td>
            <td>@res.Strength.Value.ToString("F2")</td>
            <td>@res.UpdatedCnt</td>
          </tr>
        }
      </table>
    </div>
    if (User.IsInRole("admin"))
    {
      using (Html.BeginForm("DeleteAll", "Results", FormMethod.Post, new { onSubmit = "return confirm('" + Resource.uDeleteStatConfirmation + "');" }))
      {
        @Html.Hidden("userId", Model.UserId);
        @Html.Hidden("dicId", Model.DicStat.DicId);
        @Html.Hidden("isDirect", Model.DicStat.IsDirect);
        <input type="submit" class="but margin-15" value="@Resource._Delete">
      }
    }
  }
</div>

@section Scripts {
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script>
    var ranks_data=@Html.Raw(Model.RanksData);
    var days_data=@Html.Raw(Model.DaysData);    
  </script>
}
