﻿@model UserVM
@{
  ViewBag.Title = Model.UserName + " - " + Resource.pProfile.ToLower();
}

@{ViewBag.Type = "view";}
@Html.Partial("_UserNav")

<p class="info-message">@ViewBag.Message</p>

<div id="profile-container">
  @if (Model.IsOwner)
  {
    <h2>@Resource.pModeForStudying</h2>
    <div id="one-many-toggle" class="margin-15">
      <label @if (!Model.AppUser.MixedModeActive) { <text> class="bold" </text> }>
        @Html.RadioButton("mode", "one", !Model.AppUser.MixedModeActive)
        @Resource.uOneDictionary
      </label>
      <label @if (Model.AppUser.MixedModeActive) { <text> class="bold" </text> }>
        @Html.RadioButton("mode", "mixed", Model.AppUser.MixedModeActive)
        @Resource.uSeveralDictionaries
      </label>
    </div>

    <div id="mixed-container" @(Model.AppUser.MixedModeActive ? "" : "class=hidden")>
      <div class="margin-10 x-scroll">
        <div id="mixed-list" data-normal="@Resource._Normal" data-random="@Resource._Random">
          @foreach (var mode in Model.MixedModeList)
          {
            <div data-id="@mode.Dictionary.Id" data-direct="@mode.IsDirect">
              <span>
                @Html.ActionLink(@mode.Dictionary.Name, "View", "Dictionaries",
                  new { Id = mode.Dictionary.Id }, new { target = "_blank" })
              </span>

              <span class="non-selectable">@(mode.IsDirect ? Resource._Direct : Resource._Inverse)</span>
              <span class="limit-input" contenteditable="true">@mode.StudyLimit</span>
              <span class="random-switcher" data-val="@mode.RandomOrder">@(mode.RandomOrder ? Resource._Random : @Resource._Normal)</span>
              <span class="mixed-delete"> × </span>
            </div>
          }
        </div>
      </div>
      <div id="mixed-list-empty" class="red margin-10
          @if(Model.MixedModeList.Count() > 0){ <text>hidden</text> })">
              @Resource.uListOfDicEmpty
            </div>

            <div class="settings-group">
              <div>
                @Html.Label("mixed-id", Resource.uAddModeToList + ":")
                @Html.DropDownList("mixed-id", Model.Dictionaries)
              </div>
              <div class="margin-10">
                <span>@Resource._Direction:</span>
                <label>
                  @Html.RadioButton("mixed-direction", true, true, new { data_dir_name = Resource._Direct })
                  @Resource._Direct
                </label>
                <label>
                  @Html.RadioButton("mixed-direction", false, false, new { data_dir_name = Resource._Inverse })
                  @Resource._Inverse
                </label>
              </div>
              <p class="mode-exists red hidden">@Resource.uModeAlreadyExists</p>
              <div>
                <button id="add-mixed-mode">@Resource.uAddModeToList</button>
              </div>
            </div>

            <div>
              <button id="save-mixed-mode">@Resource._Save</button>
            </div>
          </div>

              using (Html.BeginForm("ChangeMode", "User", FormMethod.Post, new { id = "change-mode", @class = (Model.AppUser.MixedModeActive? "hidden" : "") }))
              {
          <div class="settings-group">
            <div>
              @Html.Label("dicId", Resource._Dictionary + ":")
              @Html.DropDownList("dicId", Model.Dictionaries)
            </div>
            <div class="margin-10">
              <span>@Resource._Direction:</span>
              <label>
                @Html.RadioButton("isDirect", "true", Model.AppUser.CurrentIsDirect)
                @Resource._Direct
              </label>
              <label>
                @Html.RadioButton("isDirect", "false", !Model.AppUser.CurrentIsDirect)
                @Resource._Inverse
              </label>
            </div>
            <div>
              @Html.Label("limit", Resource.pStudyingWordsLimit + ":")
              @Html.TextBox("limit", Model.CurrentModeSettings.StudyLimit > 0 ? Model.CurrentModeSettings.StudyLimit.ToString() : "", new { type = "number", placeholder = Resource.pStudyingWordsNoLimit })
            </div>
            <div class="margin-10">
              @Html.CheckBox("randomOrder", Model.CurrentModeSettings.RandomOrder)
              @Html.Label("randomOrder", Resource.pRandomWordOrder)
            </div>
          </div>
          <div>
            <input type='submit' class="but" value='@Resource._Save'>
          </div>
              }
            }

          @if (!Model.AppUser.MixedModeActive)
            {
          @Html.Partial("_CurDicStatPartial", Model.CurDicStat)
            }

          @if (Model.SumStat.Count() > 1)
            {
          <h2>@Resource.pSummaryStat</h2>
          <div class="x-scroll">
            <table class='solid-table'>

              <tr>
                <th>@Resource._DictionaryName</th>
                <th>@Resource.pPassedStudyingTotal</th>
                <th>@Resource.pAverageKnowledge</th>
                <th>@Resource.pTotalCards</th>
                <th>@Resource.pToImproving</th>
                <th>@Resource.pByStrength</th>
              </tr>

              @foreach (DicStat dic in Model.SumStat)
                      {
              <tr class="@(dic.IsCurrent? "bold" : "")">
                <td class="align-left">
                  @Html.ActionLink(dic.DicName + (dic.IsDirect? "" : " (" + @Resource._InverseShort + ")"), "Stat", new { id = Model.AppUser.Id, dicId = dic.DicId, isdirect = dic.IsDirect })
                <td>@dic.Studied/@dic.Studying/@dic.DicTotal</td>
                <td>@Math.Round(dic.AvgStrength, 4)</td>
                <td>@dic.Updations</td>
                <td>
                  @if (User.IsInRole("admin"))
                                {
                  <text>@dic.OldGood+@dic.OldMid+@dic.WeakReady</text>}
                                else
                                {
                  <text>@dic.Old+@dic.WeakReady</text>}
                </td>
                <td>@dic.Weak+@dic.Mid+@dic.Good+@dic.Strong</td>
              </tr>
                      }
            </table>
          </div>
            }

          @if (Model.LastResults != null)
            {
          <h2>@Resource.pLastResults</h2>
              int count = 1;
          <div class="x-scroll">
            <table class='solid-table'>

              <tr>
                <th>@Resource._NumberSign</th>
                <th>@Resource._Word</th>
                <th>@Resource._Translation</th>
                <th>@Resource._Dictionary</th>
                <th>@Resource._Strength</th>
                <th>@Resource.pCount</th>
                <th class="date-col">@Resource._FirstTime</th>
                <th class="date-col">@Resource._Updated</th>
              </tr>

              @foreach (var res in Model.LastResults)
                      {
              <tr>
                <td>
                  @Html.ActionLink(count.ToString(), "Edit", "Cards", new { Id = res.Card.Id }, null)
                </td>
                <td>@res.Card.Word</td>
                <td>@res.Card.Translation</td>
                <td>
                  @Html.ActionLink(res.Card.Dictionary.Name, "View", "Dictionaries", new { Id = res.Card.Dictionary.Id }, null) @(res.IsDirect? "" : "(" + @Resource._InverseShort + ")")
                </td>
                <td>
                  @Html.ActionLink(Math.Round(res.Strength.Value, 4).ToString(), "Edit", "Results", new { Id = res.Id }, null)
                </td>
                <td>
                  @Html.ActionLink(res.UpdatedCnt.ToString(), "Edit", "Results", new { Id = res.Id }, null)
                </td>
                <td>@res.FirstTime</td>
                <td>@res.Updated</td>
              </tr>
                        count++;
                      }
            </table>
          </div>
          <h2>@Resource.pWordsMaxUpdatedCnt</h2>
              int count2 = 1;
          <div class="x-scroll">
            <table class='solid-table'>

              <tr>
                <th>@Resource._NumberSign</th>
                <th>@Resource._Word</th>
                <th>@Resource._Translation</th>
                <th>@Resource._Dictionary</th>
                <th>@Resource._Strength</th>
                <th>@Resource.pCount</th>
                <th class="date-col">@Resource._FirstTime</th>
                <th class="date-col">@Resource._Updated</th>
              </tr>

              @foreach (var res in Model.MaxCntResults)
                      {
              <tr>
                <td>
                  @Html.ActionLink(count2.ToString(), "Edit", "Cards", new { Id = res.Card.Id }, null)
                </td>
                <td>@res.Card.Word</td>
                <td>@res.Card.Translation</td>
                <td>
                  @Html.ActionLink(res.Card.Dictionary.Name, "View", "Dictionaries", new { Id = res.Card.Dictionary.Id }, null) @(res.IsDirect? "" : "(" + @Resource._InverseShort + ")")
                </td>
                <td>
                  @Html.ActionLink(Math.Round(res.Strength.Value, 4).ToString(), "Edit", "Results", new { Id = res.Id }, null)
                </td>
                <td>
                  @Html.ActionLink(res.UpdatedCnt.ToString(), "Edit", "Results", new { Id = res.Id }, null)
                </td>
                <td>@res.FirstTime</td>
                <td>@res.Updated</td>
              </tr>
                        count2++;
                      }
            </table>
          </div>
            }

        </div>

        @section Scripts {
          <script>RefreshOnModeChanged = true;</script>
        }
