﻿
@{
  string type = ViewData["Type"] as string;
  DictionaryVM dictionary = Model as DictionaryVM;
}

<div class="nav">
  <a href="@Url.Action("List", "Dictionaries")"
     @if (type == "list") { <text> class="nav-selected" </text> }>
    <svg viewBox="0 0 335.08 335.079">
      <path d="M311.175,115.775c-1.355-10.186-1.546-27.73,7.915-33.621c0.169-0.108,0.295-0.264,0.443-0.398    c7.735-2.474,13.088-5.946,8.886-10.618l-114.102-34.38L29.56,62.445c0,0-21.157,3.024-19.267,35.894    c1.026,17.89,6.637,26.676,11.544,31l-15.161,4.569c-4.208,4.672,1.144,8.145,8.88,10.615c0.147,0.138,0.271,0.293,0.443,0.401    c9.455,5.896,9.273,23.438,7.913,33.626c-33.967,9.645-21.774,12.788-21.774,12.788l7.451,1.803    c-5.241,4.736-10.446,13.717-9.471,30.75c1.891,32.864,19.269,35.132,19.269,35.132l120.904,39.298l182.49-44.202    c0,0,12.197-3.148-21.779-12.794c-1.366-10.172-1.556-27.712,7.921-33.623c0.174-0.105,0.301-0.264,0.442-0.396    c7.736-2.474,13.084-5.943,8.881-10.615l-7.932-2.395c5.29-3.19,13.236-11.527,14.481-33.183    c0.859-14.896-3.027-23.62-7.525-28.756l15.678-3.794C332.949,128.569,345.146,125.421,311.175,115.775z M158.533,115.354    l30.688-6.307l103.708-21.312l15.451-3.178c-4.937,9.036-4.73,21.402-3.913,29.35c0.179,1.798,0.385,3.44,0.585,4.688    L288.14,122.8l-130.897,32.563L158.533,115.354z M26.71,147.337l15.449,3.178l99.597,20.474l8.701,1.782l0,0l0,0l26.093,5.363    l1.287,40.01L43.303,184.673l-13.263-3.296c0.195-1.25,0.401-2.89,0.588-4.693C31.44,168.742,31.651,156.373,26.71,147.337z     M20.708,96.757c-0.187-8.743,1.371-15.066,4.52-18.28c2.004-2.052,4.369-2.479,5.991-2.479c0.857,0,1.474,0.119,1.516,0.119    l79.607,25.953l39.717,12.949l-1.303,40.289L39.334,124.07l-5.88-1.647c-0.216-0.061-0.509-0.103-0.735-0.113    C32.26,122.277,21.244,121.263,20.708,96.757z M140.579,280.866L23.28,247.98c-0.217-0.063-0.507-0.105-0.733-0.116    c-0.467-0.031-11.488-1.044-12.021-25.544c-0.19-8.754,1.376-15.071,4.519-18.288c2.009-2.052,4.375-2.479,5.994-2.479    c0.859,0,1.474,0.115,1.519,0.115c0,0,0.005,0,0,0l119.316,38.908L140.579,280.866z M294.284,239.459    c0.185,1.804,0.391,3.443,0.591,4.693l-147.812,36.771l1.292-40.01l31.601-6.497l4.667,1.129l17.492-5.685l80.631-16.569    l15.457-3.18C293.261,219.146,293.466,231.517,294.284,239.459z M302.426,185.084c-0.269,0.006-0.538,0.042-0.791,0.122    l-11.148,3.121l-106.148,29.764l-1.298-40.289l34.826-11.359l84.327-27.501c0.011-0.005,4.436-0.988,7.684,2.315    c3.144,3.214,4.704,9.537,4.52,18.28C313.848,184.035,302.827,185.053,302.426,185.084z" />
    </svg>
    <span>@Resource._Dictionaries</span>
  </a>

  <a href="@Url.Action("Add", "Dictionaries")"
     @if (type == "addDictionary") { <text> class="nav-selected" </text> }>
    <svg viewBox="0 0 18 18">
      <path style="fill:#030104;" d="M12,9h-2V7c0-0.553-0.447-1-1-1S8,6.447,8,7v2H6c-0.553,0-1,0.447-1,1s0.447,1,1,1h2v2
		c0,0.553,0.447,1,1,1s1-0.447,1-1v-2h2c0.553,0,1-0.447,1-1S12.553,9,12,9z" />
      <path style="fill:#030104;" d="M16.707,4.293l-4-4C12.52,0.105,12.266,0,12,0H4C2.346,0,1,1.346,1,3v12c0,1.654,1.346,3,3,3h10
		c1.654,0,3-1.346,3-3V5C17,4.734,16.895,4.48,16.707,4.293z M14.586,5H13.5C12.673,5,12,4.327,12,3.5V2.414L14.586,5z M14,16H4
		c-0.552,0-1-0.448-1-1V3c0-0.552,0.448-1,1-1h7v1.5C11,4.879,12.121,6,13.5,6H15v9C15,15.552,14.552,16,14,16z" />
    </svg>

    <span>@Resource.eNewDictionary</span>
  </a>

  <a href="@Url.Action("Add", "Cards", dictionary != null ? new { Id = dictionary.Dictionary.Id } : null)"
     @if (type == "addCards") { <text> class="nav-selected" </text> }>
    <svg viewBox="0 0 612 612">
      <path d="M306,0C136.992,0,0,136.992,0,306s136.992,306,306,306c168.988,0,306-136.992,306-306S474.988,0,306,0z M306,535.5
		C179.45,535.5,76.5,432.55,76.5,306S179.45,76.5,306,76.5S535.5,179.45,535.5,306S432.55,535.5,306,535.5z M421.133,267.75
		H344.25v-76.882c0-20.923-16.964-37.868-37.867-37.868h-0.765c-20.923,0-37.868,16.945-37.868,37.868v76.882h-76.882
		c-20.923,0-37.868,16.964-37.868,37.868v0.765c0,20.923,16.945,37.868,37.868,37.868h76.882v76.883
		c0,20.923,16.945,37.867,37.868,37.867h0.765c20.923,0,37.867-16.944,37.867-37.867V344.25h76.883
		c20.923,0,37.867-16.944,37.867-37.868v-0.765C459,284.714,442.036,267.75,421.133,267.75z" />
    </svg>
    <span>@Resource.eAddCards</span>
  </a>

  <a href="@Url.Action("Marked", "Cards")"
     @if (type == "marked") { <text> class="nav-selected" </text> }>
    <svg viewBox="0 0 31.709 31.709">
      <path d="M10.595,25.719H4.696c-1.127,0-2.06-0.886-2.06-2.013V5.42c0-1.127,0.933-2.006,2.06-2.006h14.277			c1.127,0,2.047,0.879,2.047,2.006v15.323l2.637-3.135V3.462c0-1.482-1.172-2.684-2.652-2.684H2.559C1.136,0.778,0,1.932,0,3.354			v22.382c0,1.482,1.185,2.688,2.669,2.688h10.358l-1.224-1.063C11.267,26.896,10.864,26.327,10.595,25.719z" />
      <path d="M17.875,6.794H6.034c-0.728,0-1.314,0.591-1.314,1.318c0,0.726,0.587,1.317,1.314,1.317h11.84			c0.728,0,1.312-0.591,1.312-1.317C19.188,7.386,18.602,6.794,17.875,6.794z" />
      <path d="M17.875,11.187H6.034c-0.728,0-1.314,0.59-1.314,1.318c0,0.724,0.587,1.318,1.314,1.318h11.84			c0.728,0,1.312-0.594,1.312-1.318C19.188,11.777,18.602,11.187,17.875,11.187z" />
      <path d="M17.875,15.581H6.034c-0.728,0-1.314,0.558-1.314,1.286c0,0.725,0.587,1.282,1.314,1.282h11.84			c0.728,0,1.312-0.56,1.312-1.282C19.188,16.139,18.602,15.581,17.875,15.581z" />
      <path d="M4.719,21.056c0,0.727,0.587,1.283,1.314,1.283h4.418c0.185-0.473,0.469-1.022,0.857-1.479			c0.408-0.473,0.889-0.82,1.412-1.092H6.034C5.306,19.771,4.719,20.331,4.719,21.056z" />
      <path d="M17.875,19.771h-0.988c0.324,0.137,0.633,0.366,0.916,0.611l1.312,1.123c0.05-0.135,0.076-0.28,0.076-0.437			C19.188,20.346,18.602,19.771,17.875,19.771z" />
      <path d="M30.898,16.249c-0.965-0.828-2.42-0.71-3.246,0.26l-7.564,8.867l-3.781-3.248c-0.968-0.826-2.421-0.717-3.248,0.248			c-0.829,0.967-0.717,2.418,0.248,3.246l5.533,4.752c0.422,0.358,0.951,0.557,1.5,0.557c0.062,0,0.119-0.002,0.182-0.008			c0.607-0.047,1.176-0.336,1.572-0.801l9.066-10.627C31.982,18.528,31.869,17.077,30.898,16.249z" />
    </svg>
    <span>@Resource.eCardsForChecking</span>
  </a>
</div>

@Html.Partial("_Resize")