﻿@{
  string Username = User.Identity.Name;

  string Language = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
  var langSL = SiteLanguages.List.Select(x => new SelectListItem() { Value = x.Code, Text = x.Code, Selected = x.Code == Language });

  DicStat CurDicStat = ViewBag.CurDicStat as DicStat;
  bool Logged = User.Identity.IsAuthenticated && CurDicStat != null;
}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <div class="header-container">
    <div class="header">
      <div class="home" onselectstart="return false;">

        <a id="logo" href="@Url.Action("Main", "Study")"><img src="@Url.Content("~/Images/logo.svg")" /></a>

        <div id="mob-menu-icon">
          <svg viewBox="0 0 24 24">
            <path d="M24,3c0-0.6-0.4-1-1-1H1C0.4,2,0,2.4,0,3v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V3z" />
            <path d="M24,11c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V11z" />
            <path d="M24,19c0-0.6-0.4-1-1-1H1c-0.6,0-1,0.4-1,1v2c0,0.6,0.4,1,1,1h22c0.6,0,1-0.4,1-1V19z" />
          </svg>

        </div>
      </div>

      <div class="header-content">
        @if (!Logged)
        {
        <div id="link-lang">
          <div id="select-lang">@Language  <span style="font-size: 0.6em;">▼</span></div>
          <div id="dd-lang">
            @foreach (var l in langSL)
            {
              <div @if (l.Selected) { <text> class='lang-selected' </text> }>
                @l.Value
              </div>
            }
          </div>
        </div>

          <a id="link-register" class="header-block header-reg-block" href="@Url.Action("Register", "User", new { Id = "" })">
            <span class="link-text">@Resource.uRegister</span>
          </a>

          <a id="link-login" class="header-block header-reg-block" href="@Url.Action("Login", "User", new { Id = "" })">
            <span class="link-text">@Resource.uLogin</span>
          </a>
        }






        <div id="link-dic" class="header-block">
          <a href="@Url.Action("List", "Dictionaries", new { Id = "" })">
            <svg viewBox="0 35 335.08 270">
              <path d="M311.175,115.775c-1.355-10.186-1.546-27.73,7.915-33.621c0.169-0.108,0.295-0.264,0.443-0.398    c7.735-2.474,13.088-5.946,8.886-10.618l-114.102-34.38L29.56,62.445c0,0-21.157,3.024-19.267,35.894    c1.026,17.89,6.637,26.676,11.544,31l-15.161,4.569c-4.208,4.672,1.144,8.145,8.88,10.615c0.147,0.138,0.271,0.293,0.443,0.401    c9.455,5.896,9.273,23.438,7.913,33.626c-33.967,9.645-21.774,12.788-21.774,12.788l7.451,1.803    c-5.241,4.736-10.446,13.717-9.471,30.75c1.891,32.864,19.269,35.132,19.269,35.132l120.904,39.298l182.49-44.202    c0,0,12.197-3.148-21.779-12.794c-1.366-10.172-1.556-27.712,7.921-33.623c0.174-0.105,0.301-0.264,0.442-0.396    c7.736-2.474,13.084-5.943,8.881-10.615l-7.932-2.395c5.29-3.19,13.236-11.527,14.481-33.183    c0.859-14.896-3.027-23.62-7.525-28.756l15.678-3.794C332.949,128.569,345.146,125.421,311.175,115.775z M158.533,115.354    l30.688-6.307l103.708-21.312l15.451-3.178c-4.937,9.036-4.73,21.402-3.913,29.35c0.179,1.798,0.385,3.44,0.585,4.688    L288.14,122.8l-130.897,32.563L158.533,115.354z M26.71,147.337l15.449,3.178l99.597,20.474l8.701,1.782l0,0l0,0l26.093,5.363    l1.287,40.01L43.303,184.673l-13.263-3.296c0.195-1.25,0.401-2.89,0.588-4.693C31.44,168.742,31.651,156.373,26.71,147.337z     M20.708,96.757c-0.187-8.743,1.371-15.066,4.52-18.28c2.004-2.052,4.369-2.479,5.991-2.479c0.857,0,1.474,0.119,1.516,0.119    l79.607,25.953l39.717,12.949l-1.303,40.289L39.334,124.07l-5.88-1.647c-0.216-0.061-0.509-0.103-0.735-0.113    C32.26,122.277,21.244,121.263,20.708,96.757z M140.579,280.866L23.28,247.98c-0.217-0.063-0.507-0.105-0.733-0.116    c-0.467-0.031-11.488-1.044-12.021-25.544c-0.19-8.754,1.376-15.071,4.519-18.288c2.009-2.052,4.375-2.479,5.994-2.479    c0.859,0,1.474,0.115,1.519,0.115c0,0,0.005,0,0,0l119.316,38.908L140.579,280.866z M294.284,239.459    c0.185,1.804,0.391,3.443,0.591,4.693l-147.812,36.771l1.292-40.01l31.601-6.497l4.667,1.129l17.492-5.685l80.631-16.569    l15.457-3.18C293.261,219.146,293.466,231.517,294.284,239.459z M302.426,185.084c-0.269,0.006-0.538,0.042-0.791,0.122    l-11.148,3.121l-106.148,29.764l-1.298-40.289l34.826-11.359l84.327-27.501c0.011-0.005,4.436-0.988,7.684,2.315    c3.144,3.214,4.704,9.537,4.52,18.28C313.848,184.035,302.827,185.053,302.426,185.084z" />
            </svg>
            <span class="link-text">@Resource._Dictionaries</span>
          </a>
          @if (Logged && User.IsInRole("moderator"))
          {
            <div id="dic-dd" class="dd">
              @Html.ActionLink(Resource.eAllDictionaries, "List", "Dictionaries", new { Id = "" }, null)
              @Html.ActionLink(Resource.eAddDictionary, "Add", "Dictionaries", new { Id = "" }, null)
              @Html.ActionLink(Resource.eAddCards, "Add", "Cards", new { Id = "" }, null)
              @Html.ActionLink(Resource.eCardsForChecking, "Marked", "Cards", new { Id = "" }, null)
            </div>
          }
        </div>


        @if (Logged)
        {
          <div id="link-mode" class="header-block">
            <div id="link-mode-button">
              <svg viewBox="0 0 425 425">
                <path id="svg_3" d="m385.333,17c0,-9.35 -7.65,-17 -17,-17l-311.666,0c-9.35,0 -17,7.65 -17,17l0,391c0,9.35 7.65,17 17,17l311.667,0c9.35,0 17,-7.65 17,-17l0,-391l-0.001,0zm-311.666,17l277.667,0l0,357l-277.667,0l0,-357z" />
                <path id="svg_23" d="m288.749762,129.29195l-153,0c-9.35,0 -17,7.65 -17,17s7.65,17 17,17l153,0c9.35,0 17,-7.65 17,-17s-7.65,-17 -17,-17z" />
                <path id="svg_4" d="m288.749762,67.91705l-153,0c-9.35,0 -17,7.65 -17,17s7.65,17 17,17l153,0c9.35,0 17,-7.65 17,-17s-7.65,-17 -17,-17z" />
                <path id="svg_5" d="m288.749762,192.957995l-153,0c-9.35,0 -17,7.65 -17,17s7.65,17 17,17l153,0c9.35,0 17,-7.65 17,-17s-7.65,-17 -17,-17z" />
                <path id="svg_24" d="m288.749762,257.417043l-153,0c-9.35,0 -17,7.65 -17,17s7.65,17 17,17l153,0c9.35,0 17,-7.65 17,-17s-7.65,-17 -17,-17z" />
                <path id="svg_6" d="m288.749762,321.166945l-153,0c-9.35,0 -17,7.65 -17,17s7.65,17 17,17l153,0c9.35,0 17,-7.65 17,-17s-7.65,-17 -17,-17z" />
              </svg><div id="mode-text-container">

                <span id="mode-name" data-indir="@Resource._InverseShort">
                  @CurDicStat.DicName
                  @if (!CurDicStat.IsDirect)
                  {
                    <text>(@Resource._InverseShort)</text>
                  }
                </span>
                <span class="mixed @(CurDicStat.IsInMix ? "" : "hidden")">/ @Resource.uSeveral.ToLower()</span>
                <br />
                <span>
                  <span id="hs-old" data-title="@Resource.tOldCnt">@CurDicStat.Old</span>
                  + <span id="hs-weak-ready">@CurDicStat.WeakReady</span>
                  / <span id="hs-count">@CurDicStat.Studied</span>
                  / <span id="hs-total">@CurDicStat.Studying</span>
                </span>
              </div>
            </div>

            <div id="loading-small">
              <img src="@Url.Content("~/Images/loading-small.gif")" />
            </div>
            <div id="mode-dd" class="dd"></div>
          </div>


          <div id="link-user" class="header-block">
            <a href="@Url.Action("View", "User", new { Id = CurDicStat.UserId })">
              <svg viewBox="2 3.5 28 26.5">
                <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
              </svg>
              <span class="link-text">@Username</span>
            </a>
            <div id="user-dd" class="dd">
              @Html.ActionLink(Resource.pProfile, "View", "User", new { Id = CurDicStat.UserId }, null)
              @Html.ActionLink(Resource.pSettings, "Settings", "User", new { Id = "" }, null)
              @if (User.IsInRole("admin"))
              {
                @Html.ActionLink(Resource.uAllUsers, "All_Users", "User", new { Id = "" }, null)
              }
              <div class="logout">@Resource.uLogout</div>
            </div>
          </div>

        }

      </div>
    </div>
  </div>

  <script>
    function IsHeaderOverflow() {
      var clientWidth = document.querySelector('.header-content').clientWidth;
      var scrollWidth = document.querySelector('.header-content').scrollWidth;
      return scrollWidth > clientWidth;
    }

    function ShrinkHeader() {
      if (window.innerWidth <= 600) return;

      var elements = [];
      elements.push(new Array(document.querySelector('#link-dic .link-text'), document.querySelector('#link-user .link-text')));
      
      elements.push(new Array(document.querySelector('#link-mode svg')));

      elements.push(new Array(
        document.getElementById('link-dic'),
        document.getElementById('link-user')));

      for (var i = 0; i < elements.length; i++) {
        for (var j = 0; j < elements[i].length; j++) {
          if (elements[i][j]) elements[i][j].style.display = 'inline-block';
        }
      }

      for (var i = 0; i < elements.length; i++) {
        if (IsHeaderOverflow()) {
          for (var j = 0; j < elements[i].length; j++) {
            if (elements[i][j]) elements[i][j].style.display = 'none';
          }
        }
        else break;
      }
    }
    
    ShrinkHeader();
    document.querySelector('.header-content').style.visibility = 'visible';

    var ShrinkNav;
  </script>

  <div class="body-content">
    @RenderBody()
  </div>

  <div id="shadow"></div>

  <div id="mob-menu-container">
    <div id="mob-menu">
      @if (Logged)
      {
        <a href="@Url.Action("Main", "Study")">
          <svg viewBox="0 0 594.108 594.108">
            <path d="M543.927,425.964c0,5.942-4.979,10.775-11.176,10.775H381.253c-53.915,0-73.486,24.332-73.486,24.332l-2.489,3.344			l-1.163,1.617c-0.01,0-0.01,0-0.01,0c-5.142,6.979-12.702,0.055-12.738,0l-3.489-4.343c-2.589-3.107-22.396-24.95-70.32-24.95			H61.344c-6.169,0-11.148-4.852-11.148-10.794v-322.29c0-5.956,4.988-10.762,11.148-10.762h121.269			c90.209,0,98.75,51.235,99.341,66.114v224.148c0,16.291,7.759,19.335,12.139,19.78h6.524c4.461-0.445,11.557-3.099,11.557-15.791			V156.131h-0.081c0.69-18.635,7.94-63.238,62.201-63.238h158.458c6.197,0,11.176,4.811,11.176,10.762V425.964L543.927,425.964z			 M584.068,156.141h-0.527c-10.176,0.063-11.757-8.8-11.93-12.897V78.965c0-6.851-5.569-12.411-12.411-12.411H375.429			c-46.119,0-63.311,17.082-67.58,22.46l-1.173,1.617l-0.009,0.018l-3.644,4.988l0,0c-4.879,6.706-9.131,3.843-11.185,1.654			l-6.96-8.677l-3.434-4.143c-5.779-6.074-20.852-17.927-50.718-17.927H34.94c-6.86,0-12.42,5.561-12.42,12.412v63.469			c0,11.099-6.033,13.343-9.735,13.706h-2.762C7.01,156.309,0,158.067,0,170.969v302.423c0,7.433,6.02,13.447,13.438,13.447h178.683			c57.005,0,81.846,21.497,89.296,29.729l4.252,5.27h0.009c0,0,11.403,12.884,23.414,0l0,0l2.508-2.926v0.036l0.019-0.036			l3.18-3.725c0.091-0.109,0.863-0.964,1.963-2.108c9.521-9.249,33.29-26.24,79.773-26.24h184.153c7.423,0,13.42-6.015,13.42-13.447			V168.039C594.117,157.117,586.186,156.195,584.068,156.141L584.068,156.141z" />
          </svg>
          <span>@Resource.hStudy</span>
        </a>

        <a href="@Url.Action("View", "User", new { Id = "" })">
          <svg viewBox="2 3.5 28 26.5">
            <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
          </svg>
          <span>@User.Identity.Name - @Resource.pProfile.ToLower()</span>
        </a>

        <a class="mob-menu-indent" href="@Url.Action("Settings", "User", new { Id = "" })">
          <svg viewBox="0 0 268.765 268.765">
            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M267.92,119.461c-0.425-3.778-4.83-6.617-8.639-6.617			c-12.315,0-23.243-7.231-27.826-18.414c-4.682-11.454-1.663-24.812,7.515-33.231c2.889-2.641,3.24-7.062,0.817-10.133			-6.303-8.004-13.467-15.234-21.289-21.5c-3.063-2.458-7.557-2.116-10.213,0.825c-8.01,8.871-22.398,12.168-33.516,7.529			c-11.57-4.867-18.866-16.591-18.152-29.176c0.235-3.953-2.654-7.39-6.595-7.849c-10.038-1.161-20.164-1.197-30.232-0.08			c-3.896,0.43-6.785,3.786-6.654,7.689c0.438,12.461-6.946,23.98-18.401,28.672c-10.985,4.487-25.272,1.218-33.266-7.574			c-2.642-2.896-7.063-3.252-10.141-0.853c-8.054,6.319-15.379,13.555-21.74,21.493c-2.481,3.086-2.116,7.559,0.802,10.214			c9.353,8.47,12.373,21.944,7.514,33.53c-4.639,11.046-16.109,18.165-29.24,18.165c-4.261-0.137-7.296,2.723-7.762,6.597			c-1.182,10.096-1.196,20.383-0.058,30.561c0.422,3.794,4.961,6.608,8.812,6.608c11.702-0.299,22.937,6.946,27.65,18.415			c4.698,11.454,1.678,24.804-7.514,33.23c-2.875,2.641-3.24,7.055-0.817,10.126c6.244,7.953,13.409,15.19,21.259,21.508			c3.079,2.481,7.559,2.131,10.228-0.81c8.04-8.893,22.427-12.184,33.501-7.536c11.599,4.852,18.895,16.575,18.181,29.167			c-0.233,3.955,2.67,7.398,6.595,7.85c5.135,0.599,10.301,0.898,15.481,0.898c4.917,0,9.835-0.27,14.752-0.817			c3.897-0.43,6.784-3.786,6.653-7.696c-0.451-12.454,6.946-23.973,18.386-28.657c11.059-4.517,25.286-1.211,33.281,7.572			c2.657,2.89,7.047,3.239,10.142,0.848c8.039-6.304,15.349-13.534,21.74-21.494c2.48-3.079,2.13-7.559-0.803-10.213			c-9.353-8.47-12.388-21.946-7.529-33.524c4.568-10.899,15.612-18.217,27.491-18.217l1.662,0.043			c3.853,0.313,7.398-2.655,7.865-6.588C269.044,139.917,269.058,129.639,267.92,119.461z M134.595,179.491			c-24.718,0-44.824-20.106-44.824-44.824c0-24.717,20.106-44.824,44.824-44.824c24.717,0,44.823,20.107,44.823,44.824			C179.418,159.385,159.312,179.491,134.595,179.491z" />
          </svg>
          <span>@Resource.pSettings</span>
        </a>

        if (User.IsInRole("admin"))
        {
          <a class="mob-menu-indent" href="@Url.Action("All_Users", "User", new { Id = "" })">
            <svg viewBox="0 0 533.333 533.334">
              <path d="M382.809,394.008c-9.87-1.556-10.096-28.467-10.096-28.467s29.006-28.465,35.325-66.744	c17.006,0,27.507-40.697,10.502-55.014c0.71-15.075,21.858-118.323-85.207-118.323c-107.065,0-85.916,103.248-85.208,118.322		c-17.007,14.316-6.504,55.014,10.501,55.014c6.32,38.279,35.327,66.745,35.327,66.745s-0.227,26.91-10.097,28.467		c-31.795,5.016-150.524,56.935-150.524,113.867h200h200C533.333,450.942,414.606,399.023,382.809,394.008z M179.194,403.089		c22.966-14.142,50.847-27.244,73.718-35.117c-8.204-11.684-17.34-27.571-23.088-46.387c-8.024-6.545-14.554-15.901-18.749-27.396		c-4.201-11.513-5.793-24.401-4.483-36.294c0.939-8.538,3.374-16.493,7.109-23.483c-2.266-24.263-3.861-71.893,27.317-106.631		c12.09-13.472,27.373-23.156,45.676-29.003C283.426,65.047,266.299,25.459,200,25.459c-107.065,0-85.916,103.248-85.208,118.321		c-17.007,14.318-6.504,55.015,10.501,55.015c6.319,38.278,35.326,66.745,35.326,66.745s-0.225,26.909-10.096,28.466		C118.728,299.023,0,350.943,0,407.875h171.664C174.117,406.273,176.615,404.677,179.194,403.089z" />
            </svg>
            <span>@Resource.uAllUsers</span>
          </a>
        }

        <a class="mob-menu-indent logout">
          <svg viewBox="0 0 96.943 96.943">
            <path d="M61.168,83.92H11.364V13.025H61.17c1.104,0,2-0.896,2-2V3.66c0-1.104-0.896-2-2-2H2c-1.104,0-2,0.896-2,2v89.623			c0,1.104,0.896,2,2,2h59.168c1.105,0,2-0.896,2-2V85.92C63.168,84.814,62.274,83.92,61.168,83.92z" />
            <path d="M96.355,47.058l-26.922-26.92c-0.75-0.751-2.078-0.75-2.828,0l-6.387,6.388c-0.781,0.781-0.781,2.047,0,2.828			l12.16,12.162H19.737c-1.104,0-2,0.896-2,2v9.912c0,1.104,0.896,2,2,2h52.644L60.221,67.59c-0.781,0.781-0.781,2.047,0,2.828			l6.387,6.389c0.375,0.375,0.885,0.586,1.414,0.586c0.531,0,1.039-0.211,1.414-0.586l26.922-26.92			c0.375-0.375,0.586-0.885,0.586-1.414C96.943,47.941,96.73,47.433,96.355,47.058z" />
          </svg>
          <span>@Resource.uLogout</span>
        </a>
      }
      else
      {
        <a href="@Url.Action("Main", "Study")">
          <svg viewBox="0 0 270 270">
            <path d="M227.613,115.57l21.088-21.086l-83.833-83.835L143.78,31.738l6.257,6.257L13.551,174.483		c-18.067,18.065-18.068,47.348-0.004,65.409l5.909,5.91c18.064,18.066,47.345,18.065,65.41-0.006l136.489-136.484L227.613,115.57z		 M175.581,114.919l-78.679,16.379l73.217-73.221l31.152,31.151L175.581,114.919z" />
            <path d="M241.601,126.525c0,0-28.402,26.561-28.402,42.241c0,15.688,12.715,28.405,28.402,28.405		c15.684,0,28.399-12.717,28.399-28.405C270,153.086,241.601,126.525,241.601,126.525z" />
          </svg>
          <span>@Resource.hTryOut</span>
        </a>

        <a href="@Url.Action("Register", "User", new { Id = "" })">

          <svg viewBox="0 0 512 512">
            <path d="M192 368c0-75.617 47.937-140.243 115.016-165.1 8.14-18.269 12.984-38.582 12.984-58.9 0-79.529 0-144-96-144s-96 64.471-96 144c0 49.53 28.751 99.052 64 118.916v26.39c-108.551 8.874-192 62.21-192 126.694h198.653c-4.332-15.265-6.653-31.366-6.653-48z"></path>
            <path d="M368 224c-79.529 0-144 64.471-144 144s64.471 144 144 144c79.528 0 144-64.471 144-144s-64.471-144-144-144zM448 384h-64v64h-32v-64h-64v-32h64v-64h32v64h64v32z"></path>
          </svg>
          <span>@Resource.uRegister</span>
        </a>

        <a href="@Url.Action("Login", "User", new { Id = "" })">
          <svg viewBox="0 0 300 300">
            <path d="M287.305,243.005c-0.136-1.772-0.928-3.476-2.227-4.747L172.835,126.015c4.416-10.403,6.747-21.669,6.747-33.312  c0-22.754-8.875-44.163-24.938-60.266C138.558,16.366,117.164,7.5,94.397,7.5c-22.778,0-44.135,8.869-60.247,24.95  C0.907,65.675,0.9,119.716,34.145,152.938c16.111,16.115,37.475,24.99,60.241,24.99c11.646,0,22.884-2.35,33.312-6.772  l36.874,36.902c1.534,1.515,3.557,2.319,5.74,2.248l20.095-0.705l-0.656,20.145c-0.062,2.125,0.705,4.193,2.245,5.706  c1.484,1.512,3.569,2.334,5.685,2.248l20.169-0.689l-0.724,20.123c-0.063,2.127,0.754,4.199,2.238,5.712  c1.534,1.512,3.321,2.325,5.74,2.251l20.119-0.684l-0.674,20.126c-0.118,2.232,0.822,4.379,2.418,5.903  c1.472,1.339,3.309,2.06,5.245,2.06c0.278,0,0.563-0.012,0.847-0.037l30.851-3.426c4.169-0.455,7.205-4.175,6.847-8.353  L287.305,243.005z M84.106,82.415c-9.476,9.466-24.796,9.466-34.252,0c-9.47-9.469-9.47-24.786,0-34.246  c9.456-9.46,24.771-9.469,34.252-0.003C93.563,57.625,93.557,72.952,84.106,82.415z M260.97,245.575  c-1.126,1.126-2.635,1.688-4.101,1.688s-2.976-0.563-4.101-1.688l-95.501-95.529c2.659-2.867,5.077-5.885,7.273-9.058l96.429,96.41  C263.221,239.65,263.221,243.324,260.97,245.575z" />
          </svg>
          <span>@Resource.uLogin</span>
        </a>
      }

      <a href="@Url.Action("List", "Dictionaries", new { Id = "" })">
        <svg viewBox="0 35 335.08 270">
          <path d="M311.175,115.775c-1.355-10.186-1.546-27.73,7.915-33.621c0.169-0.108,0.295-0.264,0.443-0.398    c7.735-2.474,13.088-5.946,8.886-10.618l-114.102-34.38L29.56,62.445c0,0-21.157,3.024-19.267,35.894    c1.026,17.89,6.637,26.676,11.544,31l-15.161,4.569c-4.208,4.672,1.144,8.145,8.88,10.615c0.147,0.138,0.271,0.293,0.443,0.401    c9.455,5.896,9.273,23.438,7.913,33.626c-33.967,9.645-21.774,12.788-21.774,12.788l7.451,1.803    c-5.241,4.736-10.446,13.717-9.471,30.75c1.891,32.864,19.269,35.132,19.269,35.132l120.904,39.298l182.49-44.202    c0,0,12.197-3.148-21.779-12.794c-1.366-10.172-1.556-27.712,7.921-33.623c0.174-0.105,0.301-0.264,0.442-0.396    c7.736-2.474,13.084-5.943,8.881-10.615l-7.932-2.395c5.29-3.19,13.236-11.527,14.481-33.183    c0.859-14.896-3.027-23.62-7.525-28.756l15.678-3.794C332.949,128.569,345.146,125.421,311.175,115.775z M158.533,115.354    l30.688-6.307l103.708-21.312l15.451-3.178c-4.937,9.036-4.73,21.402-3.913,29.35c0.179,1.798,0.385,3.44,0.585,4.688    L288.14,122.8l-130.897,32.563L158.533,115.354z M26.71,147.337l15.449,3.178l99.597,20.474l8.701,1.782l0,0l0,0l26.093,5.363    l1.287,40.01L43.303,184.673l-13.263-3.296c0.195-1.25,0.401-2.89,0.588-4.693C31.44,168.742,31.651,156.373,26.71,147.337z     M20.708,96.757c-0.187-8.743,1.371-15.066,4.52-18.28c2.004-2.052,4.369-2.479,5.991-2.479c0.857,0,1.474,0.119,1.516,0.119    l79.607,25.953l39.717,12.949l-1.303,40.289L39.334,124.07l-5.88-1.647c-0.216-0.061-0.509-0.103-0.735-0.113    C32.26,122.277,21.244,121.263,20.708,96.757z M140.579,280.866L23.28,247.98c-0.217-0.063-0.507-0.105-0.733-0.116    c-0.467-0.031-11.488-1.044-12.021-25.544c-0.19-8.754,1.376-15.071,4.519-18.288c2.009-2.052,4.375-2.479,5.994-2.479    c0.859,0,1.474,0.115,1.519,0.115c0,0,0.005,0,0,0l119.316,38.908L140.579,280.866z M294.284,239.459    c0.185,1.804,0.391,3.443,0.591,4.693l-147.812,36.771l1.292-40.01l31.601-6.497l4.667,1.129l17.492-5.685l80.631-16.569    l15.457-3.18C293.261,219.146,293.466,231.517,294.284,239.459z M302.426,185.084c-0.269,0.006-0.538,0.042-0.791,0.122    l-11.148,3.121l-106.148,29.764l-1.298-40.289l34.826-11.359l84.327-27.501c0.011-0.005,4.436-0.988,7.684,2.315    c3.144,3.214,4.704,9.537,4.52,18.28C313.848,184.035,302.827,185.053,302.426,185.084z" />
        </svg>
        <span>@Resource.eAllDictionaries</span>
      </a>

      @if (User.IsInRole("moderator"))
      {
        <a class="mob-menu-indent" href="@Url.Action("Add", "Dictionaries", new { Id = "" })">
          <svg viewBox="0 0 18 18">
            <path style="fill:#030104;" d="M12,9h-2V7c0-0.553-0.447-1-1-1S8,6.447,8,7v2H6c-0.553,0-1,0.447-1,1s0.447,1,1,1h2v2
		c0,0.553,0.447,1,1,1s1-0.447,1-1v-2h2c0.553,0,1-0.447,1-1S12.553,9,12,9z" />
            <path style="fill:#030104;" d="M16.707,4.293l-4-4C12.52,0.105,12.266,0,12,0H4C2.346,0,1,1.346,1,3v12c0,1.654,1.346,3,3,3h10
		c1.654,0,3-1.346,3-3V5C17,4.734,16.895,4.48,16.707,4.293z M14.586,5H13.5C12.673,5,12,4.327,12,3.5V2.414L14.586,5z M14,16H4
		c-0.552,0-1-0.448-1-1V3c0-0.552,0.448-1,1-1h7v1.5C11,4.879,12.121,6,13.5,6H15v9C15,15.552,14.552,16,14,16z" />
          </svg>
          <span>@Resource.eAddDictionary</span>
        </a>

        <a class="mob-menu-indent" href="@Url.Action("Add", "Cards", new { Id = "" })">
          <svg viewBox="0 0 612 612">
            <path d="M306,0C136.992,0,0,136.992,0,306s136.992,306,306,306c168.988,0,306-136.992,306-306S474.988,0,306,0z M306,535.5		C179.45,535.5,76.5,432.55,76.5,306S179.45,76.5,306,76.5S535.5,179.45,535.5,306S432.55,535.5,306,535.5z M421.133,267.75		H344.25v-76.882c0-20.923-16.964-37.868-37.867-37.868h-0.765c-20.923,0-37.868,16.945-37.868,37.868v76.882h-76.882		c-20.923,0-37.868,16.964-37.868,37.868v0.765c0,20.923,16.945,37.868,37.868,37.868h76.882v76.883		c0,20.923,16.945,37.867,37.868,37.867h0.765c20.923,0,37.867-16.944,37.867-37.867V344.25h76.883		c20.923,0,37.867-16.944,37.867-37.868v-0.765C459,284.714,442.036,267.75,421.133,267.75z" />
          </svg>
          <span>@Resource.eAddCards</span>
        </a>

        <a class="mob-menu-indent" href="@Url.Action("Marked", "Cards", new { Id = "" })">
          <svg viewBox="0 0 31.709 31.709">
            <path d="M10.595,25.719H4.696c-1.127,0-2.06-0.886-2.06-2.013V5.42c0-1.127,0.933-2.006,2.06-2.006h14.277			c1.127,0,2.047,0.879,2.047,2.006v15.323l2.637-3.135V3.462c0-1.482-1.172-2.684-2.652-2.684H2.559C1.136,0.778,0,1.932,0,3.354			v22.382c0,1.482,1.185,2.688,2.669,2.688h10.358l-1.224-1.063C11.267,26.896,10.864,26.327,10.595,25.719z" />
            <path d="M17.875,6.794H6.034c-0.728,0-1.314,0.591-1.314,1.318c0,0.726,0.587,1.317,1.314,1.317h11.84			c0.728,0,1.312-0.591,1.312-1.317C19.188,7.386,18.602,6.794,17.875,6.794z" />
            <path d="M17.875,11.187H6.034c-0.728,0-1.314,0.59-1.314,1.318c0,0.724,0.587,1.318,1.314,1.318h11.84			c0.728,0,1.312-0.594,1.312-1.318C19.188,11.777,18.602,11.187,17.875,11.187z" />
            <path d="M17.875,15.581H6.034c-0.728,0-1.314,0.558-1.314,1.286c0,0.725,0.587,1.282,1.314,1.282h11.84			c0.728,0,1.312-0.56,1.312-1.282C19.188,16.139,18.602,15.581,17.875,15.581z" />
            <path d="M4.719,21.056c0,0.727,0.587,1.283,1.314,1.283h4.418c0.185-0.473,0.469-1.022,0.857-1.479			c0.408-0.473,0.889-0.82,1.412-1.092H6.034C5.306,19.771,4.719,20.331,4.719,21.056z" />
            <path d="M17.875,19.771h-0.988c0.324,0.137,0.633,0.366,0.916,0.611l1.312,1.123c0.05-0.135,0.076-0.28,0.076-0.437			C19.188,20.346,18.602,19.771,17.875,19.771z" />
            <path d="M30.898,16.249c-0.965-0.828-2.42-0.71-3.246,0.26l-7.564,8.867l-3.781-3.248c-0.968-0.826-2.421-0.717-3.248,0.248			c-0.829,0.967-0.717,2.418,0.248,3.246l5.533,4.752c0.422,0.358,0.951,0.557,1.5,0.557c0.062,0,0.119-0.002,0.182-0.008			c0.607-0.047,1.176-0.336,1.572-0.801l9.066-10.627C31.982,18.528,31.869,17.077,30.898,16.249z" />
          </svg>
          <span>@Resource.eCardsForChecking</span>
        </a>

      }
    </div>
  </div>

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/scripts")
  @RenderSection("scripts", required: false)
</body>
</html>
