﻿@model UserModeVM

@{
  var inverse = Model.IsDirect ? "" : " (" + Resource._InverseShort + ")";
  string type = ViewData["Type"] as string;
}

<div class="nav">
    <a href="@Url.Action("View", "User", new { Id = Model.UserId })"
       @if (type == "view") { <text> class="nav-selected" </text> }>
      <svg viewBox="2 3.5 28 26.5">
        <path d="M18 22.082v-1.649c2.203-1.241 4-4.337 4-7.432 0-4.971 0-9-6-9s-6 4.029-6 9c0 3.096 1.797 6.191 4 7.432v1.649c-6.784 0.555-12 3.888-12 7.918h28c0-4.030-5.216-7.364-12-7.918z"></path>
      </svg>
      <span>@Model.UserName</span>
    </a>

    @if (Model.IsOwner || User.IsInRole("moderator"))
    {
      <a href="@Url.Action("Dictionary", "User",
        new { Id = Model.UserId, dicId = Model.DicId, isDirect = Model.IsDirect })"
         @if (type == "dictionary")
         { <text> class="nav-selected" </text> }>
        <svg viewBox="0 0 44.5 44.5">
          <path d="M7.928,30.5c-3.859,0-7,3.141-7,7s3.141,7,7,7c3.859,0,7-3.141,7-7S11.787,30.5,7.928,30.5z M7.928,40.5
		  c-1.654,0-3-1.346-3-3s1.346-3,3-3c1.654,0,3,1.346,3,3S9.582,40.5,7.928,40.5z M43.572,37.5c0,2.209-1.791,4-4,4H20.281
		  c-2.209,0-4-1.791-4-4s1.791-4,4-4h19.291C41.781,33.5,43.572,35.291,43.572,37.5z M14.928,22.25c0,3.859-3.141,7-7,7
		  c-3.859,0-7-3.141-7-7c0-3.859,3.141-7,7-7C11.787,15.25,14.928,18.391,14.928,22.25z M43.572,22.25c0,2.209-1.791,4-4,4H20.281
		  c-2.209,0-4-1.791-4-4s1.791-4,4-4h19.291C41.781,18.25,43.572,20.041,43.572,22.25z M7.928,0c-3.859,0-7,3.141-7,7s3.141,7,7,7
		  c3.859,0,7-3.141,7-7S11.787,0,7.928,0z M7.928,10c-1.654,0-3-1.346-3-3s1.346-3,3-3c1.654,0,3,1.346,3,3S9.582,10,7.928,10z
		   M16.281,7c0-2.209,1.791-4,4-4h19.291c2.209,0,4,1.791,4,4s-1.791,4-4,4H20.281C18.072,11,16.281,9.209,16.281,7z" />
        </svg>
        <span>@Model.DicName@inverse</span>
      </a>
    }
    <a href="@Url.Action("Stat", "User",
        new { Id = Model.UserId, dicId = Model.DicId, isDirect = Model.IsDirect })"
       @if (type == "stat") { <text> class="nav-selected" </text> }>
      <svg viewBox="0 0 93.416 93.416">
        <polygon points="88.424,85.531 88.424,30.732 72.006,30.732 72.006,85.531 60.689,85.531 60.689,1.164 44.272,1.164 44.272,85.531    33.558,85.531 33.558,30.732 17.14,30.732 17.14,85.531 7.885,85.531 7.885,0 0,0 0,93.416 93.416,93.416 93.416,85.531" />
      </svg>
      <span>
        @Resource._Statiscics
        @if (!Model.IsOwner && !User.IsInRole("moderator"))
        {
          @Model.DicName@inverse
        }
      </span>
    </a>

    @if (User.IsInRole("moderator"))
    {
      <a href="@Url.Action("View", "Results",
      new ResultsRV
      {
        UserId = Model.UserId,
        DicId = Model.DicId,
        IsDirect = Model.IsDirect,
        Order = 4,
        Desc = false
      })"
         @if (type == "results") { <text> class="nav-selected" </text> }>
        <svg viewBox="0 0 90 90">
          <path d="M31.113,49.348h28v-9h-28C31.113,40.348,31.113,49.348,31.113,49.348z M70,0H20
			  c-5.5,0-10,4.5-10,10v70c0,5.5,4.5,10,10,10h50c5.5,0,10-4.5,10-10V10C80,4.5,75.5,0,70,0z M70,80H20V10h50V80z M59,20.848H31
			  v8.75h28V20.848z M59,60.098H31v8.75h28V60.098z" />
        </svg>
        <span>@Resource._Results</span>
      </a>
    }
</div>

@Html.Partial("_Resize")