﻿@model ErrorVM
@{
  ErrorVM error = Model != null ? Model : new ErrorVM(Resource.uUnknownError);

  ViewBag.Title = error.Message;
}

<p>@error.Message</p>
<p>@Html.Raw(Resource.uGoToHomepage.InsertLinks(Url.Action("Main", "Study")))</p>

